﻿@model Znode.Engine.Admin.ViewModels.PaymentSettingViewModel
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(@Admin_Resources.LabelMerchantAccount, new { @class = "required", @data_test_selector = "lblMerchantAccount" })
        </div>
        <div class="control-md">
            @Html.TextBoxFor(m => Model.GatewayUsername, new { required = "required", @data_test_selector = "txtMerchantLogin" })
            @Html.ValidationMessageFor(m => Model.GatewayUsername, @Admin_Resources.MerchantLoginName, new { @data_test_selector = "valMerchantLogin" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(@Admin_Resources.LabelMerchantAPIKey, new { @data_test_selector = "lblapiKey" })
        </div>
        <div class="control-md">
            @Html.TextBoxFor(m => Model.TransactionKey, new { @data_test_selector = "txtTransactionKey" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>Live Url Prefix</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(m => Model.Partner, new { @data_test_selector = "txtUrlPrefix" })
        </div>
        @Html.Partial("_HelpText", "Live URL prefix  is prescribed to be used for adyen live mode only!")
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#paymentPreAuthorize").hide();
        $("#paymentcardtype").hide();
        $("#divIsCaptureDisable").hide();
    });
</script>