﻿@using Znode.Admin.Custom.ViewModel
@model AriatProgramCatalogProductListViewModel
@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.Admin.Agents

@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;

    PrimaryPageActionModel primaryPageAction = new PrimaryPageActionModel();
    primaryPageAction.PageActions.Add(new PageAction { Action = "Index", Controller = "Import", DataTestSelector = "linkResendEmail", HrefLink = "/Import/Index?externalId=" + Model.AccountExternalId, LinkType = LinkType.Url, LinkDisplayName = @Admin_Resources.ButtonImport, RouteParameters = new { @externalId = Model.AccountExternalId } });
    primaryPageAction.PageActions.Add(new PageAction { DataTestSelector = "linkpublish", HrefLink = "#", LinkType = LinkType.OnClick, LinkDisplayName = @Admin_Resources.ButtonPublish, OnClick = "AriatAccount.prototype.PublishAccountCatalog();" });
    primaryPageAction.PageActions.Add(new PageAction { DataTestSelector = "linkExportFullCatalog", HrefLink = "#", LinkType = LinkType.OnClick, LinkDisplayName = "Export Full Catalog To CSV", OnClick = "AriatAccount.prototype.ExportFullCatalog()" });
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.TitleAccount)<i class="z-minus"></i><span>@Model.AccountName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "Account", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            @Html.Partial("~/Views/Shared/Controls/_PrimaryPageAction.cshtml", primaryPageAction)
        </div>
    </div>
    @Html.Hidden("hdnAccountId", Model.AccountId)
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/views/Account/_asideaccountmanagepanel.cshtml")
        <section class="main-container">
            @using (Ajax.BeginForm("ProgramCatalogProductList", "AriatAccount", new { accountExternalId = Model.AccountExternalId, accountId = Model.AccountId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>

            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "ProgramCatalogProductDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "AriatAccount.prototype.DeleteProducts(this)"}
                         }
                    })
        </section>


    </div>
</div>
