﻿@using Znode.Engine.Admin.ViewModels;
@model CustomerViewModel
    @{
        ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront; ;
        string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        //string styleToDisplayContent = Model.AccountId > 0 ? "style=display:none" : "";
        string mainWrapperClass = !actionName.ToLower().Contains("customercreate") ? "main-wrapper" : "";
        string mainContainer = !actionName.ToLower().Contains("customercreate") ? "main-container" : "col-sm-12 page-container";
    }

    <div class="col-sm-12 title-container">
        <div class="pull-right">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "CustomersList", "Customer", null, new { @class = "btn-text-icon" })

        </div>
        @if (actionName.ToLower().Contains("getallartifidesign"))
        {
            <h1>@string.Format(@Admin_Resources.TitleEdit, "User")<i class="z-minus"></i><span>@Model.FullName</span></h1>
        }
        else
        {
            <h1>@string.Format(@Admin_Resources.TitleAdd, "User")</h1>
        }
    </div>
    <div class="@mainWrapperClass">
        @if (!actionName.ToLower().Contains("customercreate"))
        {
            @Html.Partial("~/views/User/_asidecustomermanagepanel.cshtml")
        }
        <!--Main Container-->
        <section class="@mainContainer">

            <ul class="table" id="artifiCustomisedDesign">
                    <li></li>
                </ul>
        </section>

        @Html.HiddenFor(m => m.PortalId, new { @id = "hdnPortalId" })
            @Html.HiddenFor(m => m.UserId, new { @id = "hdnUserId" })
    </div>

    <script>
        $(document).ready(function () {
            var postData = { "portalId": $("#hdnPortalId").val(), "userId": $("#hdnUserId").val() };
            $.ajax({
                url: "/artifiorder/getartificredentials",
                method: "POST",
                data: JSON.stringify(postData),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (data) {
                    $.ajax({
                        url: "" + data.JsUrl + "/Designer/Services/GetCustomizedProductByUserId?userid=" + data.userId + "&websiteid=" + data.WebsiteCode + "&webApiClientKey=" + data.WebApiClientKey + "&orderstatus=draft",
                        method: "GET",
                        dataType: "json",
                        async: true,
                        success: function (data) {
                            var newRowContent = "";
                            jQuery.each(data.Data, function (i, val) {
                                newRowContent = newRowContent + "<li style='display:inline-block;width:20%;'><img src=" + val.CustomDesignModelList[0].ThumbnailImagePath + "' height='100' width='100'><br>Saved Design Name : " + val.Title + "</br></li>";
                            });

                            $("#artifiCustomisedDesign li").append(newRowContent);

                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
