﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse success-msg" : "error-msg";
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
    }
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;

    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    bool showArtifiPopup = Convert.ToBoolean(Model.Attributes.Where(x => x.AttributeCode == "ArtifiIframeDisplayStyle").FirstOrDefault()?.AttributeValues);
    bool artifiPersonalize = Convert.ToBoolean(Model.Attributes.Value("ArtifiPersonalize"));
    int customizeDesignId = 0;
}
@if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}
@{
    <div class="col-12 p-0">
        <div class="form-group">
            <div class="col-md-6 col-lg-8 order-1 product-details-qty add-to-cart-block" id="product-details-quantity">
                <input data-test-selector="txtQuantity" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity">
                @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn btn-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                @if (artifiPersonalize && !Model.IsQuickView && Request.IsAuthenticated)
                {
                    <div>
                        @if (showArtifiPopup)
                        {
                            //Artifi iframe will open in pop-up
                            <button type="button" class="btn btn-primary b2b-personalize mx-sm-2 ml-3" id="artifi-design-call" data-toggle="modal" data-artifisku="@Model.SKU" data-custmizeproductid="@customizeDesignId" data-target="#ArtifiView" @disable><i class="zf-edit"></i>Personalize</button>
                        }
                        else
                        {
                            //Artifi iframe will open inline
                            <button type="button" class="btn btn-primary b2b-personalize mx-sm-2 ml-3" id="artifi-design-call" data-artifisku="@Model.SKU" data-custmizeproductid="@customizeDesignId" @disable><i class="zf-edit"></i>Personalize</button>
                        }
                    </div>
                }
            </div>
            @Html.Hidden("hdnShowPopup", showArtifiPopup)
            <div id="quantity-error-msg" class="error-msg"></div>
            @if ((!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated) && !isObsolete)
            {
                if (!Equals(Model.ProductType, ZnodeConstant.GroupedProduct))
                {
                    <div id="dynamic-inventory" class="@inventoryMessageClass">
                        @Model.InventoryMessage
                        @if (IsCloudflareEnabled)
                        {
                            <span class="product-count ml-2 cloudflareInventorySpan" data-type="simpleproduct" data-sku="@productSku" data-id="@Model.PublishProductId">Loading..</span>
                        }
                        else if (Model.Quantity > 0)
                        {
                            <span class="product-count ml-2">(@Model.Quantity)</span>
                        }
                    </div>
                }
            }
        </div>
    </div>
}