﻿@using Znode.Engine.Api.Models;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    var _portal = PortalAgent.CurrentPortal;
    decimal updatedQuantity = 0;
    Decimal.TryParse(Request.QueryString["quantity"], out updatedQuantity);
    decimal quantity = updatedQuantity > 0 ? updatedQuantity : string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    int portalId = _portal.PortalId;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    bool _IsShowArtifiPopup = Convert.ToBoolean(Model.Attributes.Where(x => x.AttributeCode == "ArtifiIframeDisplayStyle").FirstOrDefault()?.AttributeValues);
}

<div id="layout-product" class="col-12 main-wrapper product-meta medium-view-template edit-design-content">
    <!-- Breadcrumb -->
    <div id="breadCrumb" class="breadcrumb-container"></div>
    <div id="main-content" class="container">
        <div class="row p-4">
            <div class="col-12 col-lg-6">
                <h4 title="@Html.RenderBlock(Model.Name)">@Html.RenderBlock(Model.Name)</h4>
                <div class="d-flex">
                    @if (!string.IsNullOrEmpty(Model.SKU))
                    {
                        <span>@WebStore_Resources.TitleSKU:</span>
                        @Html.RenderBlock(sku)
                    }
                </div>
            </div>
            <div class="col-12 col-lg-6 p-0 product-details-qty add-to-cart-block d-flex flex-wrap align-items-center justify-content-end">
                <label class="d-none d-lg-block mb-0 mr-3 h6" id="lblHeaderPrice">$--</label>
                <input data-test-selector="headerQuantity-edit" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="headerQuantity-edit">
                <button data-test-selector="btnAddToCart" type="submit" id="artifi-design-call-update" onclick="Artifi.AddToCart();" class="btn btn-primary" value="Update Cart"><i class="zf-cart"></i>Update Cart</button>
            </div>
            <label class="d-lg-none d-xl-none"></label>
        </div>
    </div>


    <div id="Artifi-Designer-parent" class="col-12 container">
        <div id="Artifi-Designer" class="col-12 edit-artifi-design">
        </div>
    </div>


    <div id="successMessageDiv" style="display:none">
    </div>
</div>

<script src="~/Scripts/Extensions/ArtifiApi.js"></script>