﻿@using Znode.Engine.Admin.ViewModels
@model ImpersonationLogListViewModel

@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@if (Model != null)
{
    <div id="@Model.GridModel.FrontObjectName">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelLogMessage</h1>
        </div>
        <div class="main-wrapper">
            @Html.Partial("~/Views/Shared/_asideLogsPanel.cshtml")
            <section class="main-container">
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            
                <div class="col-sm-12 list-container">
                    @{
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                    }
                </div>
            </section>
        </div>
    </div>
}
