﻿.btn {
    font-size: $base-font-size;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-lg {
    padding: 15px 50px;
}

.btn-block {
    width: 100%;
    display: block;
}

.btn-group {
    .btn {
        margin-right: 10px;

        &:last-child {
            margin: 0;
        }
    }
}

.quotebutton button {
    width: 100%;
}

.btn-primary {
    height: 50px;
    font-size: 16px;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: $base-color-white;
    color: $base-color-dark-gray;
    border:5px solid #252525;

    &:hover, &:focus {
        color: $white !important;
        background: $base-color-dark-gray;
    }
}

.btn-secondary {
    background: $white;
    border: 2px solid $base-color-dark-gray;
    color: $base-color-dark-gray;
    border-radius: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
        color: $white !important;
        background: $base-color-dark-gray;
        border-color: $base-color-dark-gray;
    }
}

.cart-btn {
    color: $base-tertiary-light;
    background-color: $btn-primary;
    border: 0;
    position: relative;
    padding: 0;
    margin-right: 10px;

    &:hover, &:focus {
        color: $base-primary-light;
    }

    .cart-icon {
        font-size: $base-font-size + 4;
        padding: 10px;
    }
}

.header-btn {
    font-size: $base-font-size;
    font-family: $base-font-family-bold;
    background: transparent;
    border: 0;
    padding: 0;
    color: $white;

    &:hover, &:focus {
        color: $base-primary-light;
    }

    a {
        color: $black;
    }

    span {
        font-size: $base-font-size + 4;
        padding: 10px;
    }
}

.mobile-search-btn {
    align-self: center;
    border: 0;
    background-color: $footer-color;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;

    span {
        font-size: $base-font-size + 4;
        padding: 10px;
        color: $white;
    }
}

.btn-quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-color: $base-tertiary-light;
    text-transform: uppercase;
    padding: 10px 30px;
    white-space: nowrap;
    display: none;
}

.view-all-btn {
    padding: 10px 20px;
    width: 115px;
}

@include screensize(xl-small) {
    .cart-btn {
        margin: 0;

        .cart-icon {
            font-size: $base-font-size + 6;
        }
    }

    .header-btn, .mobile-search-btn, .mobile-search-btn {
        span {
            font-size: $base-font-size + 6;
        }
    }
}

@include screensize(x-small) {
    .cart-btn {
        background-color: $footer-color;
        color: $white;
    }

    .cart-button {
        padding-right: 0px;
    }
}

@include screensize(xl-small) {
    .cart-btn {
        background-color: $footer-color;
        color: $white;
    }

    .cart-button {
        padding-right: 0px;
    }
}

@include screensize(small) {
    .quotebutton button {
        width: auto;
    }

    .cart-btn {
        background-color: $footer-color;
        color: $white;
    }

    .cart-button {
        padding-right: 0px;
    }
}

@include screensize(medium) {
    .cart-btn {
        color: $base-color-dark-gray;
        background-color: $base-color-white;
        font-size: $base-font-size;
        font-family: $base-font-family-bold;
        letter-spacing: 1.25px;
        padding: 0px 45px 0px 10px;
        border-radius: 0;
        height: 40px;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &:hover, &:focus {
            background-color: $base-color-light-gray;
            color: $base-color-dark-gray;
        }

        .cart-icon {
            font-size: $base-font-size + 4;
            position: absolute;
            right: 18px;
            padding: 0;
            top: 7px;
        }
    }

    .header-btn {
        letter-spacing: 1px;
        padding: 0 30px 0 10px;
        position: relative;
        line-height: 1.25;
        width: 175px;
        height: 30px;
        text-transform: uppercase;
        text-align: right;

        &:hover, &:focus {
            color: $base-primary-light;
            cursor: pointer;
        }

        span {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            padding: 0;
        }
    }
}

.cms-configure-btn-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-text-secondary-custom {
    background-color: $base-secondary-light;
    border: none;
    color: #fff;
}

.widget-cms-button-container-center {
    position: absolute;
    z-index: 10000;
    text-align: center;
}

.widget-cms-overlay-custom {
    position: absolute;
    z-index: 9999;
    background-color: black;
    opacity: 0.3;
    border: 1px solid white;
}

.cms-img-icon-custom {
    z-index: 9999;
    margin: auto;
    max-width: 120px;
    top: -10px;
    position: relative;
}

.cms-img-icon {
    z-index: 0;
}
