﻿
@{
    int portalId = (int)ViewBag.PortalId;
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container wrapper-container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">Artifi Design</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 nopadding">
                        <p>@*@WebStore_Resources.SubTextEditProfile*@</p>
                    </div>
                    <ul class="table" id="artifiCustomisedDesign"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
 GetArtifiCredentials(@portalId, 0, true, function (res) { });
    $(document).ready(function () {
        $.ajax({
            url: "/Artificheckout/getartificredentials",
            method: "GET",
            data: { portalId: $("#hdnPortalId").val() },
            dataType: "json",
            async: false,
            success: function (data) {
                localStorage.setItem("UserId", data.userId);
                GetAllDesign(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>