﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
}
<div class="col-12 p-0 quick-order-container quickordercontainer">
    <form id="addtocart-form" method="post" action="/Product/AddToCartProduct">
        @Html.AntiForgeryToken()
        <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
        <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
        <input type="hidden" id="hdnQuickOrderSku" name="SKU" />
        <input type="hidden" id="hdnInvetoryCode" name="InventoryCode" />
        <input type="hidden" id="hdnQuickOrderProductType" name="ProductType" />
        <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
        <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
        <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryTracking" name="TrackInventory" />
        <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
        <input type="hidden" id="hdnRetailPrice" name="RetailPrice" />
        <input type="hidden" id="hdnIsPersonisable" name="IsPersonisable" />
        <input type="hidden" id="hdnConfigurableProductSKUs" name="ConfigurableProductSKUs" />
        <input type="hidden" id="hdnGroupProductSKUs" name="GroupProductSKUs" />
        <input type="hidden" id="hdnGroupProductsQuantity" name="GroupProductsQuantity" />
        <input type="hidden" id="hdnAutoAddonSKUs" name="AutoAddonSKUs" />
        <input type="hidden" id="hdnIsObsolete" name="IsObsolete" />
        @if (isLoginAuthorization == false || IsLoginUser == true)
        {
            <div class="quick-order divQuickOrder">
                <div class="col-12 text-right nav-header">
                    <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon" data-test-selector="linkQuickOrder"></a>
                    <div class="nav-label"><div class="cut-text"><span class="clock-icon"></span> @WebStore_Resources.HeaderQuickOrder</div></div>
                </div>
                <div class="col-12 login-container">
                    <div class="row no-gutters">
                        <div class="col-10 d-flex pr-2">
                            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrder.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @class = "txtQuickOrderSku", @id = "hdnttxtSKU" } })
                        </div>
                        <div class="col-2">
                            @Html.TextBox("Quantity", 1, null, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = 4, @onchange = "QuickOrder.prototype.OnQuantityChange(this)" })
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12 border-bottom">
                            <button class="btn btn-add-cart btn-primary w-100 my-4 quickOrderAddToCart" id="btnQuickOrder" onchange="QuickOrder.prototype.OnQuantityChange(this)" disabled="disabled">@WebStore_Resources.ButtonAddToCart</button>
                        </div>
                        <div class="col-12">
                            @Html.ActionLink(WebStore_Resources.B2BLabelQuickOrderMultiplePartSku, "QuickOrderPad", "Product", null, new { @class = "multiple-sku btn btn-secondary mt-4 d-block", @data_test_selector = "linkMultiplePartSku" })
                        </div>
                        <p id="inventorymsg" class="error-msg"></p>
                    </div>
                </div>
            </div>
            <input type="hidden" id="isEnhancedEcommerceEnabled" value=@Helper.IsEnhancedEcommerceTrackingEnabled().ToString() />
        }
    </form>
</div>
