﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    bool _IsShowArtifiPopup = Convert.ToBoolean(Model.Attributes.Where(x => x.AttributeCode == "ArtifiIframeDisplayStyle").FirstOrDefault()?.AttributeValues);
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string size = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "Size")?.SelectValues?.Select(y => y.Value)?.FirstOrDefault();
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string artifiSKU = Model.Attributes?.Value("ArtifiSKU");
    string styleNumber = Model.Attributes?.Value("StyleNumber");
}
<div id="layout-product" class="main-wrapper product-meta medium-view-template col" data-id="@productId" data-sku="@Model.SKU">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div data-test-selector="divBreadCrumb" id="breadCrumb" class="col breadcrumb-container"></div>
            </div>
        </div>
    </div>
    <div class=" row pdp-head" id="pdp-head" style="display:none;">
        <div class="container">
            <div class="row">
                <div id="Artifi-Designer-parent" class="col-md-9 col-sm-12 p-0">
                    @if (_IsShowArtifiPopup)
                    {
                        <div class="modal fade quick-view-popup artifi-popup" data-backdrop="static" id="ArtifiView" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    @*<div id="dev-artifi-close" class="dev-artifi-close">
                                        </div>*@
                                    <div class="modal-body">
                                        <div id="Artifi-Designer-parent" class="container artifi-design-parent">
                                            <div id="Artifi-Designer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="dev-artifi-close" class="dev-artifi-close">
                        </div>
                        <div id="Artifi-Designer">
                        </div>
                    }

                    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
                    <div id="successMessageDiv" style="display:none">
                    </div>
                    <div id="divSendMail" style="display:none">
                    </div>
                    <input type="hidden" id="isB2B" value="true" />
                </div>
                <div class="col-md-3 col-sm-12 product-details-qty d-flex flex-column mt-4">
                    <div class="details-box p-0 pl-md-3">


                        @if (!string.IsNullOrEmpty(size))
                        {
                            <div class="d-flex flex-column-center size-variant">
                                <label class="m-0">Size</label>
                                <label class="m-0" id="lblsize">@size</label>
                            </div>
                        }
                        <div class="d-flex flex-column-center">
                            <label class="m-0">Quantity</label>
                            <input data-test-selector="txtQuantity" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity-box" @(addToCartDisabled ? "disabled" : "") id="headerQuantity">
                        </div>
                        <div class="d-flex flex-column-center">
                            <label class="m-0">Price</label>
                            <label class="m-0 price-no" id="lblHeaderPrice">$--</label>
                        </div>
                        <div class="hr-line-dotted"><hr /></div>
                        <div class="details-label" data-toggle="collapse" id="seeDetails" style="display: none;" data-target="#seedetails"><p>See Details</p></div>
                        <div id="decorationPriceDetails"></div>
                        <button data-test-selector="btnAddToCart" type="submit" id="artifi-design-call-cart" onclick="Artifi.AddToCart();" class="btn btn-primary w-100 mt-3" value="@WebStore_Resources.ButtonAddToCart"><i class="zf-cart"></i>@WebStore_Resources.ButtonAddToCart</button>
                    </div>
                </div>



                <div class="col advertisement-banner mt-4 mt-md-0">
                    <!--Advertisement Banner Widget-->
                    <z-widget>@Html.WidgetPartial("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>



            </div>
        </div>
    </div>
    <div class="row b2b-product-view-details" id="pdp-body">
        <div class="container">
            <div class="row product-view-details">
                <!--Get Product Images-->
                <div class="col-12 col-lg-5 product-images">
                    @Html.Partial("_ProductImageZoomEffect", Model)
                </div>
                <!--Get Product details like short decription and higlights-->
                <div class="col-12 col-lg-7 pl-lg-4 product-overview">
                    @Html.Partial("_ProductOverview", Model)
                    @Html.Partial("_ProductInfo", Model)
                    <input type="hidden" id="artifisku" value="@artifiSKU" />
                    <input type="hidden" id="styleNumber" value="@styleNumber" />
                    <input type="hidden" id="artifiExistingCustomization" value="" />
                </div>
            </div>
        </div>
        <div class="col-12 b2b-product-tabs mt-5">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <!--Get Product content like features and cutomer reviews-->
                        @Html.Partial("_ProductContent", Model)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 carousel-card">
            <div class="container">
                <div class="row">
                    <div class="col-12 p-0" data-test-selector="divRecommendedProductList">
                        <!--Recommended Products Widget, will be displayed on PDP page-->
                        <z-widget>
                            @Html.WidgetPartialAjax("PDPRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
                        </z-widget>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 p-0 product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PDPTracking.cshtml", Model.GetEcommerceDetailsOfProduct())
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
<script>
    $(document).ready(function () {
        $('title').html("@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<script>
    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();
    // Setup thumbnails example
    var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

    $(".Product_Altimages .item").on('click', 'a', function (e) {
        var $this = $(this);
        e.preventDefault();
        // Use EasyZoom's `swap` method
        api1.swap($this.data('standard'), $this.attr('href'));
    });
</script>
