﻿@using Znode.Engine.WebStore.Agents
@using Znode.Engine.Api.Models
@{

    string limit = PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.FirstOrDefault(o => o.AttributeCode == "Limit")?.AttributeValue;
    limit = string.IsNullOrEmpty(limit) ? "10" : limit;
    @Html.Hidden("hdnLimit", limit)

}

<div class="col-12 product-rating">
    <script>$.ajax({ url: "/AriatProduct/GetReviewCount?sku=" + '@Model.SKU', type: "get" }).done(function (t) { $(".product-rating").html(t);});</script>
</div>
