﻿@using Znode.Engine.Api.Models;
@using Znode.WebStore.Custom
@model BVModel
@{
    string mediapath = "/Content/Images/no-image.png";
    Layout = null;
    int counter = 1;
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();   
    string photokeyValue = string.Empty;    
}
<style>
    .artist-collection-photo {
        float: left;
        margin: 10px;
        cursor: pointer;
        width: 120px;
        height: 120px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 5;
        right: 0;
        z-index: 9999;
    }
</style>
<div class="form-group" id="BVForm">

    <form id="SubmitPhotoForm" novalidate="novalidate">
        @foreach (var item in Model.Data.Groups)
        {
            if (item.Key == "photo")
            {
                <div class="photoImageUpload text-center">
                    <img id="BvImage" class="img-responsive dev-upload-single" data-src=@mediapath src=@mediapath alt="">
                    <input type="file" id="chooseButton" name=@item.Key accept="image/*" onchange="AriatProduct.prototype.readURL(this);" />
                </div>
            }

            if (item.Key == "photo_" + counter)
            {
                string value =string.Join(",", item.Value.SubElements[0].Id.ToString(),item.Value.SubElements[1].Id.ToString());
                keyValuePairs.Add(item.Key,value);
                counter++;
            }            

        }


        @if (keyValuePairs.Count > 0)
        {
            photokeyValue = keyValuePairs.Select(kvp => kvp.ToString()).Aggregate((a, b) => a + ","+b);
        }
        @Html.Hidden("photokeyValue",photokeyValue)
        
        <div class="captionTextBox" style="display:none">
            <a href="#" id="removePhoto" onclick="CustomProduct.prototype.changeImage();">Remove Photo</a>
            @Html.Label("Caption")<br />
            @Html.TextBox("photocaption", "", new { placeholder = "Example: My new shirt", id = "photocaption" })
        </div>
        <button type="button" id="addphotobutton" class="btn btn-lg launch-modal mt-4" onclick="AriatProduct.prototype.AppendImage();" class="" style="display:none">Add Photo</button>
    </form>    

</div>
