﻿.b2b-product-list {
    padding: 0 5px;
}

.b2b-facets-btn {
    padding: 15px 10px 0;
}

.b2b-filters {
    background-color: $filter-background;
    margin-left: 0;
    padding: 15px;
    font-size: $base-font-size - 1;
    margin: 0 -5px;

    > div {
        flex: 1;
    }

    .filter-text {
        margin-right: 5px;
    }

    .b2b-sorting {
        .search-sorting {
            display: flex;
        }

        select {
            padding: 0 25px 0 5px;
        }
    }

    .b2b-view-mode {
        .productview {
            color: $base-tertiary-light;
            padding: 0 3px;
            font-size: $base-font-size;
        }

        .grid-view-opt-active, .list-view-opt-active {
            color: $black;
        }
    }

    .b2b-paging {
        width: 100%;
        margin-bottom: 15px;

        .search-paging {
            display: flex;
            justify-content: center;
        }
    }

    .b2b-product-count {
        padding: 0 15px;

        &.page-top {
            font-size: $base-font-size + 4;
            font-family: $base-font-family-bold;
            width: 100%;
            padding: 0 0 10px 0;
        }
    }

    .b2b-pagination {
        ul {
            padding: 0;
            list-style: none;
            display: flex;

            li {
                padding: 0 15px;

                a {
                    color: $base-tertiary;

                    &:hover {
                        color: $base-primary-light;
                    }

                    &.disabled {
                        color: $base-tertiary-light;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.product-view {
    .product-grid-ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        .b2b-products {
            transition-duration: 300ms;
        }

        &.grid-view {
            .b2b-products {
                width: 33.33%;
                display: flex;

                .product-img {
                    .custom-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .custom-text {
                    color: $base-primary;
                    font-size: $base-font-size +3;
                    font-family: $base-font-family-bold;
                }

                @media only screen and (max-width: 767px) {
                    width: 50%;
                }

                @media only screen and (max-width: 480px) {
                    width: 100%;
                }

                .product-img .title {
                    display: none;
                }

                .product-details {
                    a {
                        color: $base-color-dark-gray;
                    }

                    .loged-out-product-text {
                        a {
                            color: $base-primary;
                        }
                    }
                }
            }
        }


        &.list-view {
            .b2b-products {
                width: 100%;

                .view-item {
                    display: flex;

                    .product-img {
                        width: 30%;

                        .image {
                            margin: 0;

                            img {
                                max-width: 100%;
                            }
                        }

                        .title {
                            display: none;
                        }
                    }

                    .product-details {
                        width: 70%;
                        padding: 10px;

                        a {
                            color: $base-color-dark-gray;
                        }
                    }

                    .product-img {
                        display: flex;
                        width: 30%;
                    }

                    .product-details {
                        width: 70%;
                    }

                    .title {
                        display: none;
                    }

                    .title-list {
                        display: block;
                    }

                    .btn-quick-view {
                        position: relative;
                        top: 0;
                        left: 0;
                        transform: translate(0,0);
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

@include screensize(xl-small) {
    .product-view .product-grid-ul {
        &.grid-view li {
            width: 50%;
        }
    }

    .b2b-filters .b2b-paging {
        width: auto;
        margin-bottom: 0;
    }
}

@include screensize(small) {
    .b2b-filters {
        .b2b-product-count.page-top {
            width: auto;
            padding: 0;
        }

        .b2b-view-mode {
            padding-left: 15px;
        }
    }
}

@include screensize(medium) {
    .b2b-product-list {
        padding: 0 5px 0 10px;
    }

    .b2b-filters {
        margin: 0 10px;
    }
}
//Bazaar Voice CSS
.reviews {
    .review-block-items {
        .feedback {
            button {
                background-color: transparent;
                border: 0;
                font-family: $base-font-family;
                font-size: .75rem !important;
                letter-spacing: .125rem !important;
                color: $black;
                padding: 0;
                margin-right: 20px;

                &.focus {
                    outline: 1px solid $black;
                }

                span {
                    margin-left: 10px;
                }
            }

            .recommended-text {
                font-size: $base-font-size - 3 !important;
                margin-right: 20px;
                font-weight: bold;
                color: $black;
                letter-spacing: .125rem !important;
                font-weight: 700;
            }

            .helpfull {
                font-size: $base-font-size - 3 !important;
                margin-right: 20px;
                color: $black;
                letter-spacing: .125rem !important;
            }
        }

        .review-block-description {
            font-size: $base-font-size + 2 !important;
            letter-spacing: .0125vw !important;
        }
    }

    .js-bv-content-pagination-container {
        .js-bv-pagination-pages {
            font-size: $base-font-size + 4;
        }

        button {
            border: 0;
            background-color: transparent;
        }
    }
}

.bv-dropdown {
    select {
        border: 1px solid $black;
        padding: 10px 20px;
    }
}