﻿.quick-view-popup {
    .modal-content {
        background-color: $white;
        min-height: 360px;
        border: none;
        border-radius: $primary-radius;

        .btn.close {
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: 1;
            color: $base-primary;
            background-color: $white;
            border: none;
            padding: 0px;
            font-size: $base-font-size + 6;
            border-radius: 50%;
            height: 18px;
            width: 18px;
        }

        #product-content {
            display: none;
        }

        .read-reviews {
            display: none;
        }
    }

    .quick-view-loading {
        bottom: auto !important;
        transform: translate(0px, 0) !important;
    }

    .b2b-block {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.payment-view-popup {
    .modal-content {
        background-color: $white;
        border: none;
        border-radius: $primary-radius;
       
        .btn.close {
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 1;
            color: $base-primary;
            background-color: $white;
            border: none;
            padding: 0px;
            font-size: $base-font-size + 6;
            border-radius: 50%;
            height: 18px;
            width: 18px;
        }

        .modal-body {
            padding: 0;
            min-height: 200px;

            .payment-view-content {
                .b2b-block {
                    box-shadow: none;
                }

                .block-title {
                    padding-left: 20px !important;
                }

                .block-content {
                    .payment-select-heading {
                        font-size:16px;
                    }

                    .credit-card-container {
                        .form-group {
                            margin-bottom: 15px;
                        }

                        .tab-content .tab-pane {
                            .section-heading {
                                display: none;
                            }

                            .save-cart {
                                margin: 0;

                                label {
                                    width: 100%;
                                    font-weight: bold;

                                    &:before {
                                        margin-top: 10px !important;
                                    }

                                    &:after {
                                        margin-top: 14px !important;
                                    }
                                }

                                .input-radio_label {
                                    display: flex;
                                }

                                .input-radioButton {
                                    width: auto;
                                }

                                ul {
                                    padding: 0;
                                    display: flex;
                                    flex-wrap: wrap;

                                    img {
                                        float: left !important;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            border-top: none;
        }
    }
}

//Media Query.

@include screensize(small) {
    .quick-view-popup {
        .modal-dialog {
            max-width: 600px;
        }

        .product-wishlist {
            display: none;
        }
    }
 
}

@include screensize(medium) {
    .quick-view-popup {
        .modal-dialog {
            max-width: 900px;
        }

        .product-wishlist {
            display: block;
        }
    }
}

@include screensize(desktop) {
    .quick-view-popup .modal-dialog {
        max-width: 1024px;
    }
}
