﻿// Product Tab.
.product-details-tab {margin:30px 0;
    .nav-tabs{display:none;border:none;
        li{display:flex;text-transform:uppercase;text-align:center;font-family:$base-font-family-bold;width:100%;flex:1;
            a{color:$text-default;letter-spacing:1px;width:100%;border-bottom:1px solid $base-tertiary-light;padding:10px;
                &.show {color:$base-primary;border-bottom:2px solid $base-primary;}
            }
        }
    }
    .card-header{color:$text-default;letter-spacing:1px;text-transform:uppercase;}
    .tab-content{min-height:250px;overflow:auto;
        > .tab-pane{border:0;border-radius:0;display:block;opacity:1;}
        h5{font-size:$base-font-size;margin:0;}
        ul{padding-left:25px;}
    }
}

/*.b2b-product-tabs{background-color:$input-background;}*/

@include screensize(small){
    .product-details-tab{padding:0 15px;}
}

@include screensize(medium){
    .product-details-tab{
        .card{
            .card-header{display:none;}
            .collapse{display:block;}
        }
        .tab-content{max-height:350px;
            > .tab-pane{display:none;
                &.active{display:block;height:100%;}
            }
        }
    }
}
//Reviews Status Bar CSS

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;

    .star-full-icon {
        color: $base-primary;
    }
}

.middle {
    margin-top: 10px;
    float: left;
    width: 60%;
    background-color: #dfdfdf !important;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #d96600;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 0;
    height: 22px;
    background-color: $base-primary;
}

.bar-4 {
    width: 0;
    height: 22px;
    background-color: $base-primary;
}

.bar-3 {
    width: 0;
    height: 22px;
    background-color: $base-primary;
}

.bar-2 {
    width: 0;
    height: 22px;
    background-color: $base-primary;
}

.bar-1 {
    width: 0;
    height: 22px;
    background-color: $base-primary;
}

