﻿.footer {
    background: $base-color-dark-gray;

    .footer-block {
        .social-media-icons {
            li {
                display: inline;

                a {
                    text-decoration: none;
                }
            }

            img {
                width: 25px;
                margin-right: 25px;

                &:hover {
                    color: $btn-primary-hover;
                }
            }
        }

        .footer-header {
            font-size: $base-font-size + 4;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: $footer-txt;
        }

        .footer-text {
            margin-bottom: 15px;
            font-size: $base-font-size + 1;
            color: $footer-txt;
        }

        .footer-store-number {
            color: $footer-txt;
            font-size: $base-font-size + 3;
        }

        a {
            text-decoration: underline;
            color: $btn-primary;
        }

        .footer-copyright {
            font-size: $base-font-size - 2;
            color: $footer-txt;
        }

        img {
            max-width: 220px;
            width: 100%;
        }

        ul.link-panel-widget {
            padding: 0;
            list-style: none;

            li {
                font-size: $base-font-size;
                font-family: $base-font-family-bold;
                margin-bottom: 10px;
            }
        }
    }
}
