﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable).OrderBy(y => y.DisplayOrder).ToList();
    string dropdownSelectionText = "Select";
    List<string> attributeCodes = new List<string> { "Size", "LengthSize", "HeightSize", "Waist", "Calf", "WidthSize" };
}

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        if (!string.IsNullOrEmpty(att.AttributeCode))
        {
            if (attributeCodes.Contains(att.AttributeCode))
            {
                att.IsSwatch = null;
            }
            else
            {
                att.IsSwatch = att.IsSwatch;
            }
        }
        att.IsSwatch = att.AttributeCode == "ColorSpecific" ? "true" : att.IsSwatch;
        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-12 p-0 my-4 b2b-dynamic-addons">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="section-header">@att.AttributeName</label>
                        </div>
                        <div class="col-12 p-0">
                            <ul class="swatch-img size-swatch p-0">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                                {
                                    <li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" onclick="AriatProduct.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" /></label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-12 p-0 my-3 b2b-dynamic-addons">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="section-header">@att.AttributeName</label>
                        </div>
                        <div class="col-12 p-0">
                            <ul class="swatch-img size-swatch color-swatch p-0">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                                {
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="AriatProduct.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"> <span class="swatch-icon stop-icon" style="color:@image.SwatchText !important;" title="@image.AttributeValue"></span> </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            default:
                if (attributeCodes.Contains(att.AttributeCode))
                {
                    <div class="col-12 p-0 my-3 b2b-dynamic-addons">
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <label class="section-header">@att.AttributeName</label>
                            </div>
                            @if (att.SelectedAttributeValue.Count() >= 1)
                            {
                                dropdownSelectionText = att.SelectedAttributeValue[0];
                            }
                            <div class="dropdown">
                                <button class="dropbtn" id="dropdownSelection">@dropdownSelectionText</button>
                                <div class="dropdown-content">
                                    @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                                    {
                                        string active = att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "";
                                        <a class="ConfigurableAttribute @active" name="@att.AttributeCode" onclick="AriatProduct.prototype.OnAttributeChange(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue">@image.AttributeValue</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-12 p-0 my-3 b2b-dynamic-addons">
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <label class="section-header">@att.AttributeName</label>
                            </div>
                            <div class="col-12 p-0">
                                <ul class="swatch-img size-swatch p-0">
                                    @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        <li class="styled-input">
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="AriatProduct.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">@image.AttributeValue</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                break;
        }
    }
}
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-12 p-0">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}