﻿@using Znode.WebStore.Custom.ViewModel
@using Znode.Libraries.ECommerce.Utilities
@model DecorationPriceDetailsViewModel
@{
    Layout = null;
}

<div id="seedetails" class="collapse show">
    <div class="d-flex flex-column-center">
        <label class="m-0">@Model.Name</label>
        <label class=" m-0 price-no">@Model.ProductTotalPrice</label>
    </div>
    @if (Model.LocationDetails.Count > 0)
    {
        foreach (var item in Model.LocationDetails)
        {
            <div class="d-flex flex-column-center bg-gray-heading ">
                <label class="m-0">@item.DecorationLocation</label>
            </div>
            if (!string.IsNullOrEmpty(item.Text))
            { <div class="d-flex flex-column-center">
                    <label class="m-0" style="white-space: pre-line"><b>Text:</b> @Html.Raw(item.Text) <b>(+@item.TextUnitPriceWithCurrency)</b></label>
                    <label class=" m-0 price-no">@item.TextTotalPriceWithCurrency</label>
                </div>
            }
            if (!string.IsNullOrEmpty(item.Logo))
            { <div class="d-flex flex-column-center">
                    <label class="m-0"><b>Logo:</b> @item.Logo <b>(+@item.LogoUnitPriceWithCurrency)</b></label>
                    <label class="m-0 price-no">@item.LogoTotalPriceWithCurrency</label>
                </div>
            }
        }
    }

    </div>

<script>
    $(document).ready(function () {
        $("#lblHeaderPrice").html('@Model.TotalPrice');
    });
</script>