﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
<h1 class="product-name mt-4 mt-lg-0" title="@Html.RenderBlock(Model.Name)" data-test-selector="hdgProductName">@Html.RenderBlock(Model.Name)</h1>
<div class="col-12 p-0 my-3 b2b-sku-brand">
    <div class="product-number-details">
        <div class="product-number" data-test-selector="divProductNumber">
            @if (Model.Attributes.Value("StyleNumber") != null)
            {
             @Html.RenderBlock(Model.Attributes.Value("StyleNumber"))
            }
        </div>
        <div id="starempty" class="mt-3" style="display:none">
            <p class="">@Custom_Resources.AddReviews</p>
            <div id="starempty" class="col-12 main-wrapper p-0">
                <div class="col-12 p-0 star-rating setrating pt-2">
                    <label data-test-selector="lblSetRating1" for="set-rating1" class="star-full-icon star1 empty" title="Poor" data-stars="1"></label>
                    <label data-test-selector="lblSetRating2" for="set-rating2" class="star-full-icon star2 empty" title="Fair" data-stars="2"></label>
                    <label data-test-selector="lblSetRating3" for="set-rating3" class="star-full-icon star3 empty" title="Average" data-stars="3"></label>
                    <label data-test-selector="lblSetRating4" for="set-rating4" class="star-full-icon star4 empty" title="Good" data-stars="4"></label>
                    <label data-test-selector="lblSetRating5" for="set-rating5" class="star-full-icon star5 empty" title="Excellent" data-stars="5"></label>
                </div>
            </div>
        </div>
        <div class="d-flex mt-2">
            <div id="reviewStarRating">
               
            </div>
            <div class="read-reviews">
                <a data-test-selector="linkReadReviewLabel" id="readReview" href="#scrollReview" onclick="javascript: $('#tab-reviews').click();" style="display: none">Read reviews</a>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand)) && Model.IsBrandActive)
        {
            <div class="product-brand">
                <span data-test-selector="spnProductBrandLabel">@WebStore_Resources.LabelProductBrand</span>
                <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)" data-test-selector="linkProductBrand" id="lnkProductBrand">
                    @Html.RenderBlock(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
                </a>
            </div>
        }
    </div>
</div>
@if (Model.Attributes.Value("ShortDescription") != null)
{
        <div class="col-12 p-0 mb-3 product-short-description" data-test-selector="divShortDescription">@Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes.Value("ShortDescription")))</div>
}

@if (Model.PublishProductId > 0)
{
    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
    if (codesList?.Count > 0)
    {
        string highLightsCodes = string.Join(",", codesList);
        int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
        string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
        Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
    }
}
@Html.Partial("../Schema/_ProductSchema", Model)

