﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse success-msg" : "error-msg";
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
    }
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string styleNumber = Model?.Attributes?.Value("StyleNumber");
    string displayStyle = Request.IsAuthenticated ? "" : "display:none";
}
@if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}
@if (!string.IsNullOrEmpty(styleNumber))
{
    @Html.Hidden("hdnStyleNumber", styleNumber);
}
@Html.Hidden("BackOrderDate", Model.Custom1)
@Html.Hidden("BackOrderMessage", Model.Custom2)
@{
    <div class="col-12 p-0 pdp-addon">
        <div class="size-chart-text">Click to see<a target="_blank" href="/size-charts">Size Chart</a></div>
        <div class="form-group">           
                <div class="col-12 p-0 product-details-qty add-to-cart-block" id="product-details-quantity"  style= @displayStyle>
                    <input data-test-selector="txtQuantity" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity">
                    @if (Model.Custom2 == Model.InventoryMessage)
                    {
                        @Html.AddToCartAjaxRequest(Custom_Resources.TitleBackOrder, "/Product/AddToCartProduct", Model.CartParameter, "btn btn-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage(data)")
                    }
                    else
                    {
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn btn-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage(data)")
                    }
                </div>
            
                <div id="quantity-error-msg" class="error-msg"></div>
                @if ((!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated) && !isObsolete)
                {
                    if (!Equals(Model.ProductType, ZnodeConstant.GroupedProduct))
                    {
                        <div id="dynamic-inventory" class="@inventoryMessageClass">
                            @if (!(Model.Custom1 != null && Model.Custom2 != null && Model.Custom2 == Model.InventoryMessage))
                            {
                                if (Model.Custom2 == Model.InventoryMessage)
                                {
                                    <span class="product-count  backorder-text">  @Model.InventoryMessage</span>
                                }
                                else
                                {
                                    @Model.InventoryMessage
                                }
                            }
                            @if (IsCloudflareEnabled)
                            {
                                <span class="product-count ml-2 cloudflareInventorySpan" data-type="simpleproduct" data-sku="@productSku" data-id="@Model.PublishProductId">Loading..</span>
                            }
                            else if (Model.Quantity > 0 && Model.Quantity < 99)
                            {
                                <span class="product-count ml-2">(@Model.Quantity)</span>
                            }
                            @if (Model.Quantity >= 99)
                            {
                                <span class="product-count ml-2">(@Custom_Resources.InventoryMessageForPDP)</span>
                            }
                            @if (Model.Custom1 != null && Model.Custom2 != null && Model.Custom2 == Model.InventoryMessage)
                            {
                                <span class="product-count ml-3"> @Custom_Resources.BackOrderDate </span> @Model.Custom1
                            }

                        </div>
                    }
                }
            </div>
    </div>
}
