﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonalizeValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    Model.CartParameter?.Add("IsRedirectToCart", "False");
    Model.CartParameter?.Add("ProductName", Model.Name);
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;

    string isDownlodableProduct = Model?.Attributes?.FirstOrDefault(a => a.AttributeCode == "IsDownloadable")?.AttributeValues;
    bool isDownlodable = false;
    Boolean.TryParse(isDownlodableProduct, out isDownlodable);
    bool showDefaultAndAllLocationsInventory = GlobalAttributeHelper.IsShowAllLocationsInventory();
    string typicalLeadTime = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.TypicalLeadTime, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    bool artifiPersonalize = Convert.ToBoolean(Model.Attributes.Value("ArtifiPersonalize"));
}
<div class="col-12 product-info p-0" id="scrollReview">
    <div class="row d-flex">
        <div class="col-12 col-md-6 col-lg-7">
            @if (isObsolete)
            {
            <div class="col-12 product-price p-0">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
            </div>
            }
            @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
            @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
            {
            <div class="loged-out-product-details">
                <div class="loged-out-product-title">@WebStore_Resources.TitleWhatsThePrice</div>
                <div class="loged-out-product-text">
                    <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                    @WebStore_Resources.TextOR
                    <a href="/new-account/@("?returnUrl=" + (Model.IsQuickView ? Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString()) : HttpContext.Current.Request.Url.PathAndQuery.ToString()))">@WebStore_Resources.LabelRegister</a>
                    @Custom_Resources.AriatTitleWhatsThePrice
                </div>
            </div>
            }
            else
            {
            <div class="col-12 product-price p-0">
                @if (!IsCallForPricing && !isGroupProduct)
                {
                if (IsCloudflareEnabled)
                {
                <h2>
                    <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                </h2>
                }
                else
                {
                <h2>
                    @if (!Equals(Model.SalesPrice, null))
                    {
                    if (Model.SalesPrice != @Model.RetailPrice)
                    {
                    <p>
                        <span>MSRP:</span>
                        <span class="cut-price" data-test-selector="spnCutPrice">
                            <span class="cut-price" ></span> @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                        </span>
                    </p>

                    }
                    <p>
                        <span>PROGRAM PRICE:</span>
                        <span class="@obsoleteClass" data-test-selector="spnProductPrice" id="spnProductPrice">
                            @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                            <span class="@obsoleteClass"></span>  @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                            }
                            else
                            {
                            <span class="@obsoleteClass"></span> @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                            }
                        </span>
                    </p>


                    }
                    else
                    {
                    if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                    {
                    <p>
                        <span>MSRP:</span>
                        <span class="cut-price" data-test-selector="spnCutPrice">
                            <span class="cut-price"></span> @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                        </span>
                    </p>
                    <p>
                        <span>PROGRAM PRICE:</span>
                        <span class="@obsoleteClass" data-test-selector="spnProductPrice" id="spnProductPrice">
                            <span class="@obsoleteClass"></span> @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                        </span>
                    </p>



                    }
                    else
                    {
                    <p>
                        <span>PROGRAM PRICE:</span>
                        <span class="@obsoleteClass" data-test-selector="spnProductPrice" id="spnProductPrice">
                            <span class="@obsoleteClass"></span> @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                        </span>
                    </p>

                    }
                    }

                </h2>
                }
                }
                @if (isGroupProduct && !IsCallForPricing)
                {
                <h2>
                    <span id="groupproductmessage"></span>
                </h2>
                }
                @if (IsCallForPricing)
                {
                <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                }
            </div>

            }

            @if (PersonalizeValues?.Count > 0)
            {
            Dictionary<string, string>
                PersonliseCodeValue = new Dictionary<string, string>
                    ();
                    PersonalizeValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                    }

                    @if (IsCloudflareEnabled)
                    {
                    <span id="CloudflareTierPriceSpan" class="row no-gutters" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                    }
                    else if ((!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated) && Model.TierPriceList?.Count > 0)
                    {
                    <div class="col-12 p-0 my-2 b2b-price-list">
                        <div class="row no-gutters">
                            <div class="col-12 b2b-price-list-head" data-test-selector="divSpecialPriceOffer">
                                @WebStore_Resources.TitleSpecialPriceOffers
                            </div>

                            @foreach (var item in Model.TierPriceList)
                            {
                            <div class="b2b-price-list-body" data-test-selector="divSpecialPriceBuy">Buy @Convert.ToDouble(item.Quantity) or more</div>
                            <div class="b2b-price-list-body">
                                <span class="@obsoleteClass" data-test-selector="spnSpecialPrice">
                                    @Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)/item
                                </span>
                            </div>
                            // Calculates the % savings on tier pricing
                            if (Model.ProductPrice != null)
                            {
                            <div class="b2b-price-list-body b2b-price-list-save" data-test-selector="divSpecialPriceOfferSave">Save @Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price)))%</div>
                            }
                            }

                        </div>
                    </div>
                    }

                    @if (!string.IsNullOrEmpty(typicalLeadTime) && !isDownlodable && isGroupProduct)
                    {
                    <div id="divTypicalLeadTime" class="pt-2"><span class="font-weight-bold">@WebStore_Resources.LabelTypicalLeadTime: </span>@typicalLeadTime @WebStore_Resources.LabelDays </div>
                    }
        </div>
        @if (artifiPersonalize)
        {
        <div class="col-12 customization-div">
            <p>
                <img src="~/Views/Themes/AriatCrew/Images/Customize_Icon.png" />
                <span>@Html.RenderMessage("CustomizationAvailableText")</span>
            </p>
        </div>
        }
        @*<div class="col-md-5 order-0 order-md-2 p-0 inventory-block">
            @if (!isObsolete)
            {
            if (!Equals(Model.ProductType, ZnodeConstant.GroupedProduct) && !isDownlodable)
            {
            @Html.HiddenFor(m => m.PublishProductId)
            <div class="@inventoryMessageClass inventory-details">
                <div class="d-flex justify-content-between pb-1">
                    <div class="label-inventory">@WebStore_Resources.TitleInventory</div>
                    <div class="label-details"><a onclick="Product.prototype.DisplayAllLocationInveory()" class="read-reviews" data-test-selector="linkInventoryDetail">@WebStore_Resources.TextDetails</a></div>
                </div>
                @if (showDefaultAndAllLocationsInventory)
                {
                if (!HelperUtility.IsNull(Model.Quantity) && Model.Quantity.GetValueOrDefault() > 0)
                {
                <div class="">
                    @Html.Label(Convert.ToString(Model.DefaultInventoryCount), new { @id = "lblDefaultInventoryCount", @class = "label-locations" })
                    @Html.Label(Convert.ToString(Model.DefaultWarehouseName), new { @id = "lblDefaultLocationName", @class = "default-name pl-2" })
                </div>
                <div>
                    @Html.Label(Convert.ToString(Model.Quantity), new { @id = "lblAllInventoryCount", @class = "label-locations" })
                    <span class="default-name pl-2">@WebStore_Resources.LabelAllLocations</span>
                </div>
                }
                else
                {

                <div class="error-msg">
                    @WebStore_Resources.TextOutofStock
                </div>

                }

                }
                else
                {
                if (!HelperUtility.IsNull(Model.Quantity) && Model.Quantity.GetValueOrDefault() > 0)
                {
                <div class="in-stock-section">
                    <span>
                        @Html.Label(Convert.ToString(Model.Quantity), new { @id = "lblAllInventoryCount", @class = "label-locations" })
                    </span>

                    @Html.Label(WebStore_Resources.TextInstock, new { @class = "label-locations" })
                </div>
                }
                else
                {

                <div class="error-msg">
                    @WebStore_Resources.TextOutofStock
                </div>

                }
                }
                @if (!string.IsNullOrEmpty(typicalLeadTime))
                {
                <div id="divTypicalLeadTime" class="timelead-field pt-2"><span class="font-weight-bold">@WebStore_Resources.LabelTypicalLeadTime: </span>@typicalLeadTime @WebStore_Resources.LabelDays </div>
                }
            </div>

            }
            }
        </div>*@
    </div>
    <div class="col-12 p-0">
        @if (!isGroupProduct)
        {
        <div class="col-12 p-0" id="dynamic-product-variations">
            @Html.Partial("_ProductAttributes")
        </div>
        }

        @Html.Hidden("hdnSku", Model.SKU)
        <div class="col-12 p-0 mb-3 text-right">
        </div>
        <div class="col-12 p-0 addons-attributs">
            @if (isGroupProduct)
            {
            var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
            <div class="b2b-group-products">
                <div id="groupProductList">
                    @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing, isObsolete = isObsolete });}
                </div>
                @Html.HiddenFor(m => m.ShowAddToCart)

                <div class="grouped-product-add-to-cart p-4 text-right quotebutton">
                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn btn-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                </div>
            </div>
            }
            @*<div class="col-12 b2b-dynamic-addons" id="dynamic-product-addons">
                @Html.Partial("_AddOns")
            </div>*@
        </div>

        <div class="col-12 p-0">
            @if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
            Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        </div>
    </div>
    <span id="BVContentErrorMessage" class="error-msg"></span>
    @*<div class="modal fade BV-content-popup" id="BV-content-popup-ipad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-test-selector="btnQuickViewClose"><span id="close-BV-content-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="BV-content" data-test-selector="divBVContent">
            </div>
        </div>
    </div>*@
    <div class="modal fade" id="custom-modal1" role="dialog">
        <div class="modal-dialog modal-lg main-review-popup">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="bv-submit-title">My Review</div>
                    <button type="button" class="close" id="mainModal" data-dismiss="modal"><span class="close-circle-icon"></span></button>
                </div>
                <div class="modal-body pdp-reviews">
                    <div id="custom-content1">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md add-photo-popup">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" id="removePhoto" onclick="CustomProduct.prototype.changeImage();" data-dismiss="modal"><span class="close-circle-icon"></span></button>

                </div>
                <div class="modal-body">
                    <div id="myModal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalVideo" role="dialog">
        <div class="modal-dialog modal-md add-video-popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="videoModal" data-dismiss="modal"><span class="close-circle-icon"></span></button>

                </div>
                <div class="modal-body">
                    <div id="myModalVideo-content">

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
</div>
<script>
        $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
            if (IsCloudflareEnabled == 'True') {
                Product.prototype.GetPrice('@obsoleteClass', '@(!string.IsNullOrEmpty(Model.MinQuantity) ? Model.MinQuantity: "1")');
                Product.prototype.GetAllLocationInventory();
        }
    })
</script>
