﻿@using Znode.Engine.WebStore.Agents
@model Int32
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}
<div class="container-fluid">
    <div class="row size-chart">
        <div class="container">
<div class="col-xs-12 nopadding mt-5 mb-5">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#boots" aria-controls="home" role="tab" data-toggle="tab">@Html.RenderMessage("BOOTS")</a></li>
        @*<li role="presentation"><a href="#tallboots" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("TALLBOOTS")</a></li>*@
        @*<li role="presentation"><a href="#halfchaps" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("HALFCHAPS")</a></li>*@
        <li role="presentation"><a href="#denim" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("DENIM")</a></li>
        <li role="presentation"><a href="#westernapparel" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("WESTERNAPPAREL")</a></li>
        @*<li role="presentation"><a href="#englishapparel" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("ENGLISHAPPAREL")</a></li>*@
        <li role="presentation" class="belts"><a href="#belts" aria-controls="profile" role="tab" data-toggle="tab">@Html.RenderMessage("BELTS")</a></li>

    </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="col-xs-12 nopadding tab-pane active content-page" id="boots">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "Boots", "9876", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>
                    @*<div role="tabpanel" class="col-xs-12 tab-pane nopadding content-page" id="tallboots">
                        <div class="col-sm-12 nopadding col-12 p-0 margin-bottom">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "TallBoots", "9878", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>*@
                    @*<div role="tabpanel" class="col-xs-12 nopadding tab-pane  content-page" id="halfchaps">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "HalfChaps", "9877", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>*@
                    <div role="tabpanel" class="col-xs-12 nopadding tab-pane content-page" id="denim">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "Denim", "9879", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>
                    <div role="tabpanel" class="col-xs-12 nopadding tab-pane  content-page" id="westernapparel">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "WesternApparel", "9880", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>
                    @*<div role="tabpanel" class="col-xs-12 nopadding tab-pane  content-page" id="englishapparel">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "EnglishApparel", "9881", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>*@
                    <div role="tabpanel" class="col-xs-12 nopadding tab-pane  content-page" id="belts">
                        <div class="col-sm-12 nopadding col-12 p-0">
                            <z-widget>@Html.WidgetPartial("TemplateTextEditor", "Belts", "9882", "ContentPageMapping", (int)Model)</z-widget>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    });
</script>



