﻿@model Znode.Admin.Custom.ViewModel.AriatShippingViewModel

@using Znode.Engine.Admin.ViewModels;

@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmcreateshippingrate", CancelUrl = "/AriatShipping/ShippingRateList?shippingId=" + Model.ShippingId + "&shippingTypeId=" + Model.ShippingTypeId, IsSaveCloseEnable = true };
}
<div class="col-sm-12 title-container">

    <h1>Add Shipping Rate</h1>

    <div class="pull-right">
        @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
    </div>
</div>
<!--Main Container-->
<section class="col-sm-12 page-container">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmcreateshippingrate" }))
    {
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(m => m.ShippingCode, new { @class = "required", @data_test_selector = "lblRedirectFrom" })
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(model => model.ShippingCode, new { @data_test_selector = "txtRedirectFrom", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ShippingCode, null, new { @data_test_selector = "valRedirectFrom" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(m => m.LowerLimit, new { @class = "required", @data_test_selector = "lblRedirectTo" })
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(model => model.LowerLimit, new { @data_test_selector = "txtRedirectTo" })
                    @Html.ValidationMessageFor(model => model.LowerLimit, null, new { @data_test_selector = "valRedirectTo" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(m => m.UpperLimit, new { @class = "required", @data_test_selector = "lblRedirectTo" })
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(model => model.UpperLimit, new { @data_test_selector = "txtRedirectTo" })
                    @Html.ValidationMessageFor(model => model.UpperLimit, null, new { @data_test_selector = "valRedirectTo" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(m => m.ShippingAmount, new { @class = "required", @data_test_selector = "lblRedirectTo" })
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(model => model.ShippingAmount, new { @data_test_selector = "txtRedirectTo" })
                    @Html.ValidationMessageFor(model => model.ShippingAmount, null, new { @data_test_selector = "valRedirectTo" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.ShippingId);
        @Html.HiddenFor(x => x.AriatCustomShippingChargesId);
        @Html.HiddenFor(x => x.ShippingCode);
    }
</section>
