﻿@using Znode.Admin.Custom.ViewModel
@model AriatShippingListViewModel
@using Znode.Engine.Admin.Models


@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;

}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>Shipping Rate List <span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonCancel, "List", "Shippings", null, new { @class = "btn-text-icon", @data_test_selector = "linkCancel" })
            <div class="pull-right padding-left">
                @Html.AuthorizedRawActionLink("" + Admin_Resources.ButtonAdd, "CreateShippinRate", "AriatShipping", new { @ShippingId = Model.ShippingId }, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkCreateShippingRate" })
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/Views/Shippings/_asideShippingPanel.cshtml", Model)
        <section class="main-container">
            @using (Ajax.BeginForm("ShippingRateList", "AriatShipping", new { shippingId = Model.ShippingId, shippingTypeId= Model.ShippingTypeId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>

            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "ShippingRuleDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Shippings.prototype.DeleteMultipleShippingRule(this, '"+1+"')"}
                         }
                    })
        </section>


    </div>
</div>

<script>
    $(document).ready(function () { EditableGridEvent.Init(); })
    $(".input-text").change(function () {
        validateForm = AriatShipping.prototype.ValidateField(this);
    });

</script>