﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveSingleCartItem(this,'" + Url.Encode(Model.SKU) + "')" : "javascript:$($(this).closest('form').submit());";
    object imagePath = string.Empty;
    imagePath = Convert.ToString(Model?.PersonaliseValuesDetail?.Where(w => w.PersonalizeCode.ToLower() == "artifiimagepath")?.Select(s => s.PersonalizeValue)?.FirstOrDefault());

    imagePath = !string.IsNullOrEmpty(imagePath?.ToString()) ? imagePath.ToString() : @Model.ImagePath;

    bool isArtifiDesignId = Convert.ToBoolean(Model?.PersonaliseValuesDetail?.Any(a => a.PersonalizeCode.ToLower() == "artifidesignid"));
    bool isFromSinglePageCheckout = this.ViewData.ContainsKey("isFromSinglePageCheckout") ? Convert.ToBoolean(this.ViewData["isFromSinglePageCheckout"]) : false;
}
<div class="row b2b-cart-row align-items-center position-relative">
    <div class="b2b-remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a href="JavaScript:void(0);" class="cart-item-remove" onclick=@removeItemOnClickEvent title="Remove Item"><span class="close-circle-icon"></span></a>
        }
    </div>
    <div class="b2b-cart-item-details">
        @if (isArtifiDesignId)
        {
            <img src="@imagePath" class="img-responsive" alt="">
        }
        else
        {
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-fluid b-lazy" alt=""></a>
        }
            <div class="cart-description d-flex flex-wrap align-content-center">
                @if (Model.PersonaliseValuesList.ContainsKey("ArtifiDesignId"))
                {
                    @Html.Raw(Model.ProductName)
                }
                else
                {
                    <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>
                }

                    <div class="col-12 p-0 cart-item-description" data-test-selector="divCartItemDescription">
                        @if (Model?.PersonaliseValuesDetail?.Count > 0)
                        {
                            foreach (var item in Model.PersonaliseValuesDetail)
                            {
                                if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty) && item.PersonalizeCode.ToLower() != "artifidesignid" && item.PersonalizeCode.ToLower() != "artifiimagepath")
                                {
                                    <p data-test-selector="paraCartItemDescription">@item.PersonalizeName : @item.PersonalizeValue</p>
                                }
                                else if (Equals(item.PersonalizeCode.ToLower(), "artifidesignid"))
                                {
                                    <ul class="action-ui">
                                        @if (!isFromSinglePageCheckout)
                                        {
                                            <li>
                                                <a href="#" data-sku="@Model.SKU" data- data-configurablesku="@Model.ConfigurableProductSKUs" data-productname="@Model.ProductName" data-productid="@productId" data-custmizeproductid="@item.PersonalizeValue" data-quantity="@Model.Quantity" id="artifi-design-edit" class="cart-item-title btn btn-secondary">@Artifi_Resource.LabelEditDesign</a>
                                            </li>
                                        }
                                        <li>
                                            <a href="#" data-sku="@Model.SKU" data-configurablesku="@Model.ConfigurableProductSKUs" data-custmizeproductid="@item.PersonalizeValue" id="artifi-previewproduct" class="cart-item-title btn btn-secondary" data-toggle="modal" data-target=".preview-popup">@Artifi_Resource.LabelPreview</a>
                                        </li>
                                    </ul>
                                }
                            }
                        }
                    </div>
                <div class="col-12 p-0 group-product-list">
                    @if (Model?.GroupProducts?.Count > 0)
                    {
                        foreach (var item in Model.GroupProducts)
                        {
                            <p><span class="right-icon"></span>@Html.RenderBlock(item.ProductName)</p>
                        }
                    }
                </div>
                <div class="col-12 p-0 cart-item-description" data-test-selector="divCartItemDescription">@Html.RenderBlock(Model.CartDescription)</div>
                @if (!Model.IsAllowedTerritories)
                {
                    <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
                }
            </div>
    </div>
    <div class="w-100 d-md-none"></div>
    <div class="b2b-col-width pl-4 pb-4 p-md-0 cart-item-unitprice" data-test-selector="colCartItemUnitPrice">
        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="b2b-col-item-title" data-test-selector="divPriceText">@WebStore_Resources.LabelTierPrice</div>
                @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
                if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                {
                    <div class="loged-out-product-details p-0">
                        <div class="loged-out-product-text">
                            <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                            @WebStore_Resources.TextOR
                            <a href="/new-account/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                        </div>
                    </div>
                }
                else
                {
                    @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                }
            }
        }
        else
        {
            <div class="b2b-col-item-title" data-test-selector="divPriceText">@WebStore_Resources.LabelTierPrice</div>
            if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
            {
                <div class="loged-out-product-details p-0">
                    <div class="loged-out-product-text">
                        <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                        @WebStore_Resources.TextOR
                        <a href="/new-account/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                    </div>
                </div>
            }
            else
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
            }
        }
    </div>
    <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-quantity">
        <div class="b2b-col-item-title">@WebStore_Resources.ColumnTitleQuantity</div>
        @Html.Partial("_Quantity", Model)
    </div>
    @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
    {
        <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-total">
            <div class="b2b-col-item-title pl-2" data-test-selector ="divTotalText">@WebStore_Resources.ColumnTitleTotal</div>
            <div class="loged-out-product-details p-0 pl-2">
                <div class="loged-out-product-text">
                    <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                    @WebStore_Resources.TextOR
                    <a href="/new-account/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-total" title="@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)">
            <div class="b2b-col-item-title pl-3" data-test-selector ="divTotalText">@WebStore_Resources.ColumnTitleTotal</div>
            <span class="pl-3" data-test-selector="spnCartRowPrice">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</span>
        </div>
    }
</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>