﻿<div class="col-12 b2b-form" id="ccAddressDetails" style="display:none">
    <div class="cc-address-form">


        <div id="AddressError" class="text-left mb-3 error-msg"></div>
        <div id="AddressSuccess" class="text-left mb-3 success-msg"></div>


        <div class="col-12 p-0">
            <div class="col-12 form-group">
                <div class="form-title">
                    <label for="address_ccStreet1" class="required">@WebStore_Resources.EmailAddress</label>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        @Html.TextBox("address_ccEmail", "", new { @id = "address_ccEmail", @class = "form-input-long", @data_test_selector = "address_ccEmail", required = "required" })
                        <p class="error-msg">@Html.ValidationMessage("address_ccEmail", "", new { @id = "spnErroraddress_ccEmail" })</p>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="form-title">
                    <label for="address_ccStreet1" class="required">@WebStore_Resources.ColumnStreetAddress</label>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        @Html.TextBox("address_ccStreet1", "", new { @id = "address_ccStreet1", @class = "form-input-long", @data_test_selector = "address_ccStreet1", required = "required" })
                        <p class="error-msg">@Html.ValidationMessage("address_ccStreet1", "", new { @id = "spnErrorCCAddress1" })</p>
                    </div>
                    <div class="col-12 mb-3">
                        @Html.TextBox("address_ccStreet2", "", new { @id = "address_ccStreet2", @class = "form-input-long", @data_test_selector = "address_ccStreet2", required = "required" })
                        <p class="error-msg">@Html.ValidationMessage("address_ccStreet2", "", new { @id = "spnErrorCCAddress2" })</p>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group mb-3">
                <div class="form-title">
                    <label for="address_ccCity" class="required">@WebStore_Resources.ColumnCity</label>
                </div>
                <div class="col-12 p-0">
                    @Html.TextBox("address_ccCity", "", new { @id = "address_ccCity", @data_test_selector = "address_ccCity", required = "required" })
                    <p class="error-msg">@Html.ValidationMessage("address_ccCity", "", new { @id = "spnErrorccCityName" })</p>
                </div>
            </div>

            <div class="col-12 form-group mb-3">
                <div class="form-title">
                    <label for="address_state" class="required">@WebStore_Resources.ColumnState</label>
                </div>
                <div class="col-12 p-0" id="stateCodeTextBox">
                    @*<div id="dev-statecode-textbox">
                        @Html.TextBox("cctxtStateCode", "", new { @id = "cctxtStateCode", @class = "txtStateCode", @data_test_selector = "cctxtStateCode" })
                    </div>*@
                    <div id="dev-statecode-select">
                        <select class="valid address_state" id="SelectStateName" name="StateName"></select>
                    </div>
                    @*<p class="error-msg">@Html.ValidationMessage("SelectStateName", null, new { @id = "valtxtccStateCode", @data_test_selector = "spnErrorccStateCode" })</p>*@
                </div>
            </div>
            <div class="col-12 form-group mb-3">
                <div class="form-title">
                    <label for="address_zipcode" class="required">
                        @WebStore_Resources.LabelPostalCode
                    </label>
                </div>
                <div class="col-12 p-0">
                    @Html.TextBox("address_ccPostalCode", "", new { @id = "address_ccPostalCode", @class = "form-input-short", @data_test_selector = "address_ccPostalCode", required = "required" })
                    <p class="error-msg">@Html.ValidationMessage("address_ccPostalCode", "", new { @id = "spnErrorccPostalCode" })</p>
                    <span class="error-msg" id="valid-ccpostalcode" style="display: none;">@WebStore_Resources.ValidationZipCode</span>
                </div>
            </div>

            @*country dropdown list*@
            <div class="col-12 form-group mb-3">
                <div class="form-title">
                    <label for="ccaddress_country" class="required">@WebStore_Resources.ColumnCountry</label>
                </div>
                <div class="col-12 p-0">
                    @*@Html.DropDownList("ccaddress_ccCountryName",null, new { @onchange = "User.prototype.BindStates()"})*@
                    @*<p class="error-msg">@Html.ValidationMessageFor(m => m.address_ccCountryName, "", new { @data_test_selector = "spnErroraddress_ccCountryName" })</p>*@
                    <select name="address_ccCountryName" id="address_ccCountryName" onchange="User.prototype.AriatBindState()">
                        <option value="US" selected>US</option>
                    </select>
                </div>
            </div>



        </div>
    </div>
</div>
