﻿@using Znode.WebStore.Custom.ViewModel
@model AriatDropinViewModel

<div id="dropin-container"></div>
<input id="adyenResponse" type="hidden" value="@Model.PaymentMethods">
<input id="hiddenisAdyenPayment" type="hidden" value="true">
<script>
  
    $(document).ready(function () {

        const paymentMethodsConfiguration = {
            card: {
                hasHolderName: true,
                holderNameRequired: true,
                //enableStoreDetails: true,
                hideCVC: false,
                name: 'Credit or debit card'
            }
        }

        const configuration = {
            locale: "en_US",
            environment: '@Model.Environment',
            clientKey: '@Model.OriginKey',
            paymentMethodsResponse: JSON.parse($("#adyenResponse").val()),
            paymentMethodsConfiguration: paymentMethodsConfiguration,
            showPayButton: false
        };

        const checkout = new AdyenCheckout(configuration);
        const card = checkout.create('dropin').mount('#dropin-container');
        dropinSubmitEvent = card;
    });
</script>

