﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
}
<div class="col-12 p-0 h-100 b2b-block">
    <h3 class="block-title">
        @if (Model.IsQuoteRequest)
        {
            @WebStore_Resources.HeadingQuoteSummary
        }
        else
        {
            @WebStore_Resources.SinglePageCheckoutOrderSummary
        }
    </h3>
    <div class="col-12 b2b-cart">
        @if (Model.ShoppingCartItems?.Count > 0)
        {
            foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
            {
                @Html.Partial("../cart/_CartRow", cartItem)
            }
        }
    </div>

    <div class="col-12 col-md col-lg p-0 ml-auto">
        <div class="col-12 cart-total mt-4 cart-total-section order-summary" id="summary-details">
            @Html.Partial("../_TotalTable", Model)
        </div>
    </div>
</div>
<div class="col-12 mt-3 p-0 quotebutton hide-in-amazon-checkout text-right order-1 order-lg-0">
    @if (Model.IsQuoteRequest)
    {
        <button type="submit" onclick="Quote.prototype.SubmitQuote()" id="btnPlaceQuote" name="singleCheckoutSubmitPayment" class="btn-primary btn w-100 btnPlaceQuote">
            @WebStore_Resources.ButtonSubmitQuote
        </button>
    }
    else if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <button type="submit" @ViewBag.DisableButton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-primary w-100 checkoutButton btnCompleteCheckout">
            @if (Convert.ToInt32(ViewBag.QuoteId) > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
    else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        string onclickFunction = (Convert.ToInt32(ViewBag.QuoteId) > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
        <button type="submit" @ViewBag.DisableButton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn btn-primary w-100 checkoutButton btnCompleteCheckout">
            @if (Convert.ToInt32(ViewBag.QuoteId) > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
    else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        <button type="submit" @ViewBag.DisableButton  onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-primary w-100 singlecheckoutsubmitquote">
            @if (Convert.ToInt32(ViewBag.QuoteId) > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.ButtonSubmitForApproval
            }
        </button>
    }
    else
    {
        <button type="submit" @ViewBag.DisableButton  onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-primary w-100 btn-margin-left btnCompleteCheckout">
            @if (Convert.ToInt32(ViewBag.QuoteId) > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
</div>

<div class="col-12 p-0 mt-4 mb-4">
    <div class="row">
        <div class="col">
            <div class="col-12 col-md p-0 checkout-promotions-section">
                @if (!Model.IsQuoteRequest && Model.Permission)
                {
                    if (Model.IsSinglePageCheckout)
                    {
                        @Html.Partial("../_ApplyCoupon", Model)
                    }
                }



            </div>
        </div>

    </div>
</div>
<div class="col-12 p-0 h-100 b2b-block">
    <div class="row">
        <div class="col">
            <div class="col-12 col-md p-0 checkout-promotions-section">
                <h3 class="block-title">@WebStore_Resources.TitleAdditionalInfo</h3>
                <div class="col-12 b2b-block">
                    <div class="form-group">
                        <div class="col-12 block-content">
                            <div class="block-items-title" data-test-selector="divJobName">
                                @Custom_Resources.LabelJobName
                            </div>
                            @Html.TextBoxFor(model => model.JobName, new { maxlength = 25, @data_test_selector = "txtJobName" })
                        </div>
                    </div>
                </div>

                <div class="col-12 b2b-block">
                    <div class="form-group">
                        <div class="col-12 block-content">
                            <div class="block-items-title">
                                @WebStore_Resources.TitleAdditionalInformation
                            </div>
                            @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500, rows = 5 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        Checkout.prototype.ChangeSubmitOrderButtonText();
    })
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
    </script>
}