﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model OrdersViewModel

@{
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout.cshtml";
}

@if (!Equals(Model, null))
{
    <div class="col">
        @Html.Partial("../_LearnMore", Model)
        <div class="row b2b-breadcrumbs d-none d-md-block">
            <div class="container">
                <div class="row">
                    <!-- Breadcrumb -->
                    <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a>THANK YOU</div>
                </div>
            </div>
        </div>
        <div class="row b2b-thanks-page">
            <div class="container">
                <div class="row checkout-reciept">
                    <div class="col-12 mb-5">
                        <h1 class="page-title" data-test-selector="hdgOrderReceiptPageTitle">Thank You For Your Purchase</h1>
                        <div class="col-12 p-0 font-16">
                            Thanks for shopping at @_portal.WebsiteTitle. Your order number is
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId"><u>#@Model.OrderNumber</u></a>
                            }
                            else
                            {
                                <u>#@Model.OrderNumber</u>
                            }
                        </div>

                        <div class="col-12 p-0 font-16">
                            An email receipt has been sent to @Model.EmailAddress, please keep this email for your records.
                        </div>
                        <div class="mt-3 pb-4 d-flex flex-wrap checkout-buttons">
                            <a href="/" class="ml-md-3 mt-3 btn btn-secondary " data-test-selector="linkOrderReceiptContinue">Continue shopping</a>
                            <a href="/CaseRequest/customerfeedback" class="ml-md-3 mt-3 btn btn-secondary">@WebStore_Resources.B2BTextCustomerFeedback</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid featured-products no-shadow">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col featured-products-block">
                        <h3 class="product-list-title key-BestSellers">@Html.RenderMessage("BestSellers")</h3>
                        <z-widget>@Html.WidgetPartial("ProductList", "BestSellers", "667", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
            @Html.Hidden("portalId", portalId)
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
}

@* To DO - Need to move in checkout.ts *@
<script>
     $(document).ready(function () {
        $(window).scrollTop(0);
        if ("@isLoggedInUser" == "False" && (typeof ArtifiAPI != 'undefined')) {
                ArtifiAPI.prototype.UpdateUserId(localStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
            }
            if ("@address"=="") {
                window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
        }

        })
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $(document).ready(function () {
            // DataLayer creation of Purchase data and PUSH to GTM.
            GoogleAnalytics.prototype.SendEcommercePurchaseData(@Html.RenderBlock(Json.Encode(Model.GetEcommercePurchaseData())), '@PortalAgent.CurrentPortal.Name');
        });
    </script>
}
