﻿@using Znode.Engine.WebStore.ViewModels
@model QuoteResponseViewModel
@{
    string quoteDate = Model != null ? Model.CreatedDate.ToDateTimeFormat() : string.Empty;
    string disableConvertToOrder = Model.EnableConvertToOrder ? "" : "disabled";
}
<div id="layout-account-receipt" class="main-wrapper">
    <div class="container">
        <div class="row user-account b2c-quote-page">
            <div class="col-xs-12 nopadding">
                @if (Model != null)
                {
                    <h1 class="page-title" data-test-selector="hdgTitleOrderReceipt">
                        @Html.RenderBlock(string.Format(WebStore_Resources.TitleQuoteNo.ToString(), Model.QuoteNumber.ToString()))
                    </h1>
                }
                else
                {
                    <h1 class="page-title" data-test-selector="hdgTitleOrderReceipt">@WebStore_Resources.TitleQuote</h1>
                }
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                @if (Model != null)
                {
                <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt quote-account-receipt right-container">
                    <div class="d-flex align-items-center justify-content-end">
                        <a class="receipt-print margin-left-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                        <button onclick="Quote.prototype.GetPaymentOptions(this)" id="btnShowPaymentOptions" name="showPaymentOptions" class="btn-text-icon btn-bg-primary" data-toggle="modal" data-target=".payment-view-popup" @disableConvertToOrder>
                            @WebStore_Resources.ButtonConvertQuoteToOrder
                        </button>
                    </div>
                    @Html.Partial("_QuoteReceiptDetail", Model)
                    <div class="col-sm-12 nopadding quotes-notes-section">
                       
                            <div id="quoteNotes" data-test-selector="divquoteNoteList">
                                @if (Model.QuoteNoteList.Count > 0)
                                {
                                    @Html.Partial("_QuoteNotesDetail", Model)
                                }
                            </div>
                        
                    </div>
                </div>
                   
                }
                else
                {
                    <p class="text-center">@WebStore_Resources.NoResult</p>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-test-selector="lblPaymentApplMsg">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p data-test-selector="lblPaymentMethodMsg">@WebStore_Resources.TextPaymentMethod</p>
            </div>
        </div>
    </div>
</div>
<!--Error Payment Modal-->
<div class="modal fade" id="ErrorPaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                <h4 class="modal-title" data-test-selector="lblPaymentApplErrMsg">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p data-test-selector="lblPaymentMethodErrMsg"></p>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="pull-right">
                        <button data-test-selector="btnPaymentOk" type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_PaymentPopup")
@Html.Hidden("hdnUserId", Model.UserId)
@Html.Hidden("hdnOmsQuoteId", Model.OmsQuoteId)
@Html.Hidden("Total", Model.QuoteTotal)
@Html.Hidden("SubTotal", Model.SubTotal)
@Html.Hidden("hdnPortalId", Model.PortalId)
@Html.Hidden("QuoteId", Model.OmsQuoteId)
<div id="shipping-content">@Html.Hidden("AddressId", Model.ShippingAddressId)</div>
<div id="billing-content">@Html.Hidden("AddressId", Model.BillingAddressId)</div>