﻿@{
    bool isEdit = (bool)ViewBag.isEdit;
}
<div id="aside-popup-panel" class="panel-container" style="overflow:hidden;">
    <div class="col-sm-12 title-container">
        @if (!isEdit)
        {
            <h1>Add Design</h1>
            <div class="pull-right btn-container">
                <a href='#' data-test-selector="linkBack" class="btn-text-icon dirtyignore" onclick="ZnodeBase.prototype.CancelUpload('aside-popup-panel')"><i class='z-cancel'></i>@Admin_Resources.TextCancel</a>
            </div>
        }
        else
        {
            <h1>Edit Design</h1>
            <div class="pull-right btn-container">
                <a href='#' data-test-selector="linkBack" class="btn-text-icon dirtyignore" onclick="ZnodeBase.prototype.CancelUpload('aside-popup-panel')"><i class='z-cancel'></i>@Admin_Resources.TextCancel</a>
            </div>
        }
    </div>
    <div id="Artifi-Designer-parent">
            <div id="Artifi-Designer">
            </div>
    </div>
</div>
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
    $(document).ready(function () {
        if ('@isEdit' == 'True') {            
            LaunchArtifi();
        }
        else {            
            AddArtifiDesign();
        }
    });
</script>
