﻿@using Znode.Engine.Admin.ViewModels
@model CartViewModel
<div class="col-sm-12 nopadding cart-promocode margin-bottom">
    <div class="form-group">
        <div class="control-label"><label data-test-selector ="lblCouponCode">@Admin_Resources.LabelEnterCouponCode</label></div>
        @if (!Equals(Model.Coupons, null) && Model.Coupons.Count > 0)
        {
            <div class="control-sm"><input type="text" id="promocode" name="Coupon" class="form-input" size="40" value="" maxlength="100" data-test-selector="txtCouponCode"/></div>
            <div class="pull-left"><button type="button" class="btn-text btn-text-secondary margin-left-10 btn-apply" id="btnApplyCoupon" onclick="Order.prototype.ApplyPromoCode(true);" data-test-selector="btnApplyCouponCode"><i class="z-ok"></i></button></div>
            <div id="couponContainer" class="control-non control-lg success-msg" data-test-selector="divCouponCodeStatus">
                @foreach (var item in Model.Coupons)
                {
                    if (item.IsExistInOrder)
                    {
                        <p class="green-color"><b>@item.Code</b> - @item.PromotionMessage</p>
                    }
                }
            </div>
        }
        else
        {
            <div class="control-sm">
                <input type="text" id="promocode" name="Coupon" class="form-input" size="40" maxlength="100" data-test-selector ="txtCouponCode" />
            </div>
            <div class="pull-left">
                <button type="button" class="btn-text btn-text-secondary margin-left-10 btn-apply" id="btnApplyCoupon" onclick="Order.prototype.ApplyPromoCode(true);" data-test-selector="btnApplyCouponCode">
                    <i class="z-ok"></i>
                </button>
            </div>
            <div id="couponContainer" class="control-non control-lg success-msg" data-test-selector="divCouponCodeStatus"></div>
        }
    </div>
</div>
<div class="col-sm-12 nopadding giftcard-applyagain form">
    <div class="form-group">
        <div class="control-label"><label data-test-selector="lblGiftCardNumber">@Admin_Resources.LabelGiftCardNumber</label></div>
        <div class="control-sm"><input type="text" id="txtgiftcard" name="giftcard" class="form-input" maxlength="100" data-test-selector="txtGiftCardNumber" /></div>
        <div class="pull-left"><button type="button" class="btn-text btn-text-secondary margin-left-10 btn-apply" id="giftcard-apply" onclick="Order.prototype.ApplyGiftCard();" data-test-selector="btnApplyGiftCard"> <i class="z-ok"></i></button></div>
        @if (!string.IsNullOrEmpty(Model.GiftCardNumber))
        {
            <div id="cart-giftcard-status" class="control-non success-msg control-lg" data-test-selector="divGiftCardStatus">@Admin_Resources.LabelGiftCard : @Model.GiftCardNumber</div>
        }
        else
        {
            <div id="cart-giftcard-status" class="control-non success-msg control-lg" data-test-selector="divGiftCardStatus"></div>
        }

    </div>
    <div id="giftCardMessageContainer"></div>
</div>
<div id="divTaxExemptContainer" class="col-sm-12 nopadding cart-promocode" style="display:none;">
    <div class="form-group">
        <div>
            <div id="containerTaxExempt" style="">
                <label>
                    <input data-val="true" id="chkTaxExempt" onclick="Order.prototype.OnTaxExemptChecked();" value="true" type="checkbox" data-test-selector="chkApplyTaxExempt">
                    <span id="messageTaxExcempt" class="lbl padding-8" data-test-selector="spnApplyTaxExempt">Tax Exempt</span>
                    <input name="chkTaxExempt" value="false" type="hidden">
                </label>
            </div>
        </div>
    </div>
</div>