﻿@{
    string url = (string)ViewBag.url;
}
<div id="aside-popup-panel1" class="panel-container" style="overflow:hidden;">
    <div class="col-sm-12 title-container">
        <h1>Preview Design</h1>
        <div class="pull-right btn-container">
            <a href='#' data-test-selector="linkBack" class="btn-text-icon dirtyignore " onclick="ZnodeBase.prototype.CancelUpload('aside-popup-panel1')"><i class='z-cancel'></i>@Admin_Resources.TextCancel</a>
        </div>
    </div>
    <div id="Artifi-Designer-parent" class="container">
        <div id="Artifi-Preview">
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#Artifi-Preview").html('');
        $("#Artifi-Preview").html("<iframe src='" + '@url' + "' height='500px' width='100%' frameborder='0' style='position: relative;'></iframe>");
    });
</script>
