﻿
@{
    ViewBag.Title = "LaunchArtifi";
    string _orderid = Convert.ToString(Request.QueryString["omsOrderId"]);
}



<div id="Artifi-Designer-parent" class="container">
    <a href="/Order/Manage?OmsOrderId=@_orderid">Back</a>
    <div id="Artifi-Designer">
    </div>
</div>

