﻿@using Znode.Engine.Api.Models
@using Znode.WebStore.Custom
@model  BVRatingCount
@{
    string ratingText = Model.TotalReviewCount > 0 ? Convert.ToString(Model.TotalReviewCount) : string.Empty;
    string avgRating = String.Format("{0:0.0}", Model.AverageRating);
    int totalReviewCount = Model.TotalReviewCount;
}
<div class="row" style="display:none">
    <div class="col-xs-12 col-sm-6 col-md-7" style="display:none">
        <span class="star-rating" data-test-selector="spanStarRating">
            @Html.Hidden("hdnAverage", Model.AverageRating)
            @Html.Hidden("hdnTotalCount", Model.TotalReviewCount)
            @if (Model.AverageRating > 0)
            {
            @Html.Partial("_StarRating", Model.AverageRating)
            }     

        </span>
        @if (Model.AverageRating > 0)
        {
        <span class="count">@Html.RenderBlock(avgRating)</span>
        <p class="total-reviews">@Html.RenderBlock(Convert.ToString(Model.TotalReviewCount)) Reviews</p>
        }
        <button class="btn btn-secondary" onclick="AriatProduct.prototype.BuildForm()">Add your review</button>
    </div>
    @if (Model.keyValuePairs.Count > 0)
    {
        <div class="col-xs-12 col-sm-6 col-md-5 mb-4 d-flex justify-content-center" style="display:none">
            <div class="row w-100">
                @for (int i = 5; i >= 1; i--)
                {
                    <div class="side">
                        <div>@i<span data-test-selector="spanStarFullRating" class="star-full-icon"></span></div>
                    </div>
                    <div class="middle">
                        <div class="bar-container" style="width: @Model.keyValuePairs.FirstOrDefault(x => x.Key == i).Value.Split(',')[1]%;">
                            <div class="bar-@i"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>@Model.keyValuePairs.FirstOrDefault(x => x.Key == i).Value.Split(',')[0]</div>
                    </div>
            }
                </div>
        </div>
    }
</div>
<script>
    if (@totalReviewCount>0){ 
      $("#starempty").empty();
    }
    AriatProduct.prototype.ReviewStarRating();
</script>