﻿@using Znode.Engine.Api.Models
@using Znode.Engine.WebStore.Agents
@model  BVReviewListModel
@{
    string yes = "Yes";
    string no = "No";
    string inappropriate = "inappropriate";
    string contentIds = string.Join(",", Model.Results.Select(x => x.Id));
    string limit = PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.FirstOrDefault(o => o.AttributeCode == "Limit")?.AttributeValue;
    limit = string.IsNullOrEmpty(limit) ? "10" : limit;
    int reviewListCount = Model.Results.Count;
    string yesRecommended = "Yes, I recommend this product.";
    string noRecommended = "No, I do not recommend this product.";
    int photoCounter = 1; 
}
@if (Model.Results.Count >= 1)
{
    <div class="modal fade" id="reviewModal" role="dialog" style="display:none">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="close-circle-icon"></span></button>
                </div>
                <div class="modal-body">
                    <img class="modal-content" id="reviewImage" src="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between js-bv-content-pagination-container border-top pt-3 flex-wrap align-items-center" style="display:none">
        <div>
            <h6 class="js-bv-pagination-pages bv-content-pagination-pages-current " id="reviewNameTop" style="display:none"> 1-@Model.Results.Count of @Model.TotalResults Reviews</h6>
        </div>

        <div class="bv-content-sort-dropdown">
            <div class="bv-dropdown-heading" id="bvDropDown" style="display:none">
                <p>Sort by:</p>
                <div class="js-bv-dropdown-sort-select bv-dropdown">
                    <select id="bv-dropdown" onchange="AriatProduct.prototype.IsFeatured(this)">
                        <option id="isfeatured" value="desc" selected>Most Relevant</option>
                        <option id="helpfulness" value="desc">Most Helpful</option>
                        <option id="ratinghigh" value="desc">Highest to Lowest Rating</option>
                        <option id="ratinglow" value="asc">Lowest to Highest Rating</option>
                        <option id="submissiontime" value="desc">Most Recent</option>
                        @*<option  id="selected">White</option>*@
                    </select>
                    @Html.Hidden("hdnisfeatured", string.Join(",", "isfeatured", "desc"))
                    @Html.Hidden("hdnhelpfulness", string.Join(",", "helpfulness", "desc"))
                    @Html.Hidden("hdnratingdesc", string.Join(",", "rating", "desc"))
                    @Html.Hidden("hdnratingasc", string.Join(",", "rating", "asc"))
                    @Html.Hidden("hdnsubmissiontime", string.Join(",", "submissiontime", "desc"))
                    @Html.Hidden("hdnLimit", limit)
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 review-block mt-5" style="display:none" >
        @foreach (Result submitBVModel in Model.Results)
        {

            <div class="row">
                <div class="col-sm-4">
                    <div class="review-block-rate">
                        <span class="star-rating" data-test-selector="spanStarRating">
                            @{
                                int totalStar = 5;
                                int integral = submitBVModel.Rating;
                                int fraction = (int)((submitBVModel.Rating - decimal.Truncate(submitBVModel.Rating)) * 10);
                                for (int item = 1; item <= integral; item++)
                                {
                                    <span data-test-selector="spanStarFullRating" class="star-full-icon"></span>
                                    totalStar = totalStar - 1;
                                }
                                if (fraction >= 5)
                                {
                                    <span data-test-selector="spanStarHalfRating" class="star-half-icon"></span>
                                    totalStar = totalStar - 1;
                                }
                                for (int item1 = 1; item1 <= totalStar; item1++)
                                {
                                    <span data-test-selector="spanStarEmptyRating" class="star-empty-icon"></span>
                                }
                            }
                        </span>
                    </div>

                    @if (submitBVModel.Videos.Count > 0)
                    {
                        <div video style="">
                            <iframe width="260" height="115" src=@submitBVModel.Videos.Select(x=>x.EmbededUrl).FirstOrDefault() class="iframeclass" frameborder="0" allowfullscreen id="iframeReviewVideo"></iframe>
                        </div>
                    }

                    <div class="review-block-name"><a href="#">@Html.RenderBlock(submitBVModel.UserNickname)</a></div>
                    <div class="review-block-date">@Html.RenderBlock(submitBVModel.SubmissionTimeAsString)</div>
                </div>
                <div class="col-sm-8 review-block-items">
                    <div class="review-block-description">@Html.RenderBlock(submitBVModel.ReviewText)</div>
                    @if (submitBVModel.Photos.Count > 0)
                    {
                        <div image>
                            @foreach (Photo item in submitBVModel.Photos)
                            {
                                <img src="@item.Sizes.thumbnail.Url" id="photoUrl_@photoCounter" class="img-rounded" onclick="AriatProduct.prototype.ReviewImagePopup(this)">
                                photoCounter++;
                            }
                        </div>
                    }

                    <div class="feedback d-flex justify-content-between align-items-center pt-3" id="ContentId_@submitBVModel.Id">
                        <div class="d-flex align-items-center">
                            <span class="recommended-text">
                                @if (!string.IsNullOrEmpty(Convert.ToString(submitBVModel.IsRecommended)))
                                {
                                    if (submitBVModel.IsRecommended == true)
                                    {
                                        @Html.RenderBlock(yesRecommended);
                                    }
                                    else
                                    {
                                        @Html.RenderBlock(noRecommended);
                                    }
                                }
                            </span>
                        </div>
                        <div class="d-flex">
                            <div id="helpfulness_@submitBVModel.Id">
                                <span class="helpfull">Helpful?</span>
                                <button type="button" class="btn btn-vote js-btn-vote-yes" id="ContentId_@submitBVModel.Id@yes" data-helpfullnesstype="Positive" data-feedBackType="FeedbackType:helpfulness" onclick="AriatProduct.prototype.FeedBack(this)">
                                    <i class="btn-vote-up"></i>Yes<span id="ContentId_yes_@submitBVModel.Id" value="@submitBVModel.TotalPositiveFeedbackCount">@submitBVModel.TotalPositiveFeedbackCount</span>
                                </button>
                                <button type="button" class="btn btn-vote js-btn-vote-no" id="ContentId_@submitBVModel.Id@no" data-helpfullnesstype="Negative" data-feedBackType="FeedbackType:helpfulness" onclick="AriatProduct.prototype.FeedBack(this)">
                                    <i class="btn-vote-down"></i>No<span id="ContentId_no_@submitBVModel.Id" value="@submitBVModel.TotalNegativeFeedbackCount">@submitBVModel.TotalNegativeFeedbackCount</span>
                                </button>
                            </div>
                            <div id="inappropriate_@submitBVModel.Id">
                                <button class="btn btn-link customer-review-report-btn js-btn-report" id="ContentId_@submitBVModel.Id@inappropriate" data-value="inappropriate" onclick="AriatProduct.prototype.ReportInappropriate(this)">
                                    <i class="icon-megaphone"></i>&nbsp;Report
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
        }

            <div class="js-bv-content-pagination-container d-flex justify-content-between">
                <h6 class="js-bv-pagination-pages bv-content-pagination-pages-current " id="reviewName" style="display:none"> 1-@Model.Results.Count of @Model.TotalResults Reviews</h6>
                <div>
                    <button type="button" class="js-bv-pagination-prev bv-pagination-prev" id="previousButton" disabled="disabled" onclick="AriatProduct.prototype.PreviousClick()">
                        <span>Previous</span>
                    </button>
                    @if (Model.Results.Count >= Model.Limit)
                    {
                        <button type="button" class="js-bv-pagination-next bv-pagination-next" id="nextButton" onclick="AriatProduct.prototype.NextClick()">
                            <span>Next</span>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="js-bv-pagination-next bv-pagination-next" id="nextButton" disabled="disabled" onclick="AriatProduct.prototype.NextClick()">
                            <span>Next</span>
                        </button>
                    }
                </div>
            </div>
            <div>
                <input type="hidden" id="CurrentTotalCount" name="currentContentPageNumber" value="@Model.Results.Count()">
                <input type="hidden" id="CuurentLimit" name="currentContentPageNumber" value="@Model.Limit">
                <input type="hidden" id="CuurentOffset" name="currentContentPageNumber" value="@Model.Offset">
                <input type="hidden" id="totalResult" name="currentContentPageNumber" value="@Model.TotalResults">
                <input type="hidden" id="contentIds" value=@contentIds>
            </div>
        </div>
        }
        <script>
    if (@reviewListCount == 0) {
        $("#bvDropDown").hide();
    }
        </script>
