﻿@using Znode.Engine.Api.Models;
@using Znode.WebStore.Custom
@model BVVideoModel
@{
    string mediapath = "/Content/Images/no-image.png";
    Layout = null;
    int counter = 1;

}
<div class="videoUpload" style="display:none">
    <div class="img-video text-center">
        <img id="BvVideoImage" class="BvVideoImageclass" data-src=@mediapath src=@mediapath alt="">
        <iframe width="560" height="315" src="" class="iframeclass" frameborder="0" allowfullscreen id="iframeVideo" style="display: none"></iframe>
    </div>

    <div class="captionTextBox">
        @if (Model != null)
        {
            <a href="#" id="removeVideo" onclick="AriatProduct.prototype.RemoveVideoFromModal();" class="removePhoto" style="display:none">Remove Video</a>
            <div class="input-block">
                @Html.Label("Link to YouTube Video")
                <input class="required" name="videourl" id="videourl" type="text" placeholder="Ex: http://youtube.com">
            </div>
            <div class="videocaptionclass" style="display: none">
                    @Html.Label("Caption")
                    <input class="required" name="videocaption" id="videocaption" type="text" placeholder="Example: How to Install">
                </div>
            <button class="btn btn-lg launch-modal mt-4 js-bv-video-submit add-video-btn" id="addVideoButton" type="button" onclick="AriatProduct.prototype.AppendVideo(this);">Add Video</button>
            @Html.HiddenFor(model => model.VideoCaption)
            @Html.HiddenFor(model => model.VideoURL)
        }
    </div>
</div>


