﻿@using Znode.Engine.Api.Models;
@using Znode.WebStore.Custom
@model BVModel
@{

    Layout = null;
    var groupOrder = Model.Data.GroupsOrder;
    Dictionary<string, string> keyValuePairsVideo = new Dictionary<string, string>();
    string videokeyValue = string.Empty;
    string video = string.Empty;

}
<div>
    <form id="BVForm" style="display:none">

        <p class="pb-3">Required fields are marked with *</p>
        @foreach (var item in Model.Data.Fields)
        {
            string required = item.Value.FieldRequired ? "required" : string.Empty;
            if (item.Key == "rating")
            {
        <div>
            <p class="required overall-rating">Overall Rating</p>
            <div id="layout-writereview" class="col-12 main-wrapper">
                <div class="col-12 p-0 star-rating setrating d-flex justify-content-center">
                    <label data-test-selector="lblSetRating1" for="set-rating1" class="star-full-icon star1 empty" title="Poor" data-stars="1" id="1"></label>
                    <label data-test-selector="lblSetRating2" for="set-rating2" class="star-full-icon star2 empty" title="Fair" data-stars="2" id="2"></label>
                    <label data-test-selector="lblSetRating3" for="set-rating3" class="star-full-icon star3 empty" title="Average" data-stars="3" id="3"></label>
                    <label data-test-selector="lblSetRating4" for="set-rating4" class="star-full-icon star4 empty" title="Good" data-stars="4" id="4"></label>
                    <label data-test-selector="lblSetRating5" for="set-rating5" class="star-full-icon star5 empty" title="Excellent" data-stars="5" id="5"></label>
                    <span id="starRating" class="field-validation-error"></span>

                    @*<input class="required" name="@item.Value" value="" id="@item.Key" type="hidden">*@
                </div>
                <p id="starTile" class="text-center mt-3"></p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <span id="starTile"></span>
            </div>
        </div>
            }

            if (item.Key == "title")
            {
                @Html.Label("Review Title")<br />
                @Html.TextBox(item.Key.ToString(), "", new { maxlength = (item.Value.MaxLength).ToString(), placeholder = "Example: Great features!", id = item.Value.Id.ToString() });
            }

            if (item.Key == "reviewtext")
            {
                @Html.Label("Review")<br />
                @Html.TextArea(item.Key.ToString(), new { minlength = (item.Value.MinLength).ToString(), maxlength = (item.Value.MaxLength).ToString(), placeholder = "Example: I bought this a month ago and am so happy that I did...", spellcheck = "false" })
            }

            if (item.Key == "isrecommended")
            {

                <div class="mb-3 recommend-radio">
                    @Html.Label("Would you recommend this product to a friend?")
                    <div class="radio-group ml-5 mt-3">
                        <label class="radio mr-3">
                            <input type="radio" value="true" name="isrecommended" id="isrecommendedtrue">Yes
                        </label>
                        <label class="radio">
                            <input type="radio" value="false" name="isrecommended" id="isrecommendedfalse">No
                        </label>
                    </div>
                    @Html.Hidden("isrecommended")
                </div>

            }

            if (item.Key == "usernickname")
            {
                @Html.Label("Nickname", new { })<br />
                @Html.TextBox(item.Key.ToString(), "", new { id = item.Value.Id.ToString(), minlength = (item.Value.MinLength).ToString(), maxlength = (item.Value.MaxLength).ToString(), placeholder = "Example: jackie27", required = required })
                @*<span id="usernicknamevalidation"></span>*@
                <span id="usernicknamevalidation" data-test-selector="spnGroupProductError" class="error-msg"></span>
            }

            if (item.Key == "userlocation")
            {
                @Html.Label("Location")<br />
                @Html.TextBox(item.Key.ToString(), "", new { id = item.Value.Id.ToString(), minlength = (item.Value.MinLength).ToString(), maxlength = (item.Value.MaxLength).ToString(), placeholder = "Example: New York, NY" })
            }
            if (item.Key == "useremail")
            {
                @Html.Label("Email")<br />
                @Html.TextBox(item.Key.ToString(), "", new { type = "email", id = item.Value.Id.ToString(), minlength = (item.Value.MinLength).ToString(), maxlength = (item.Value.MaxLength).ToString(), placeholder = "Example: youremail@example.com" })
            }

        }

        @foreach (var item in Model.Data.Groups)
        {
            if (item.Key == "photo")
            {
                @Html.Label("Photo")<br />
                <input type="button" class="bv-photo-button" value="Add photo" id="photobutton" data-toggle="modal" href="#myModal" onclick="AriatProduct.prototype.BuildPhotoForm();">
                @*<button class="bv-media-button" id="photobutton" data-toggle="modal" href="#myModal" onclick="Product.prototype.BuildPhotoForm();">Add photo</button>*@
                <span>Add up to 6 photos</span>
                <div id="new" class="add-photo">
                </div>
            }

            if (item.Key == "video")
            {
                <div class="mt-3">
                    @Html.Label("Video")<br />
                    <button type="button" class="bv-media-button btn-popup " value="Add Video" id="videobutton" data-toggle="modal" href="#myModalVideo" onclick="AriatProduct.prototype.BuildVideoForm();">Add Video </button>
                    <div id="video">
                    </div>
                </div>
            }

            if (item.Key == "video")
            {
                video = item.Key;
            }

            if (item.Key == "video_" + 1)
            {
                string value = string.Join(",", item.Value.SubElements[0].Id.ToString(), item.Value.SubElements[1].Id.ToString());
                if (!string.IsNullOrEmpty(video))
                {
                    video = string.Join(",", video, item.Key);
                    keyValuePairsVideo.Add(video, value);
                }

            }


        }
        <p class="mt-4">You may receive emails regarding this submission. Any emails will include the ability to opt-out of future communications.</p>
        @*<button class="btn bv-submit-button" type="submit" id="launch-modal">Post Review</button>*@
        @*<button class="btn bv-submit-button" type="submit" onclick="AriatProduct.prototype.SubmitBVForm();">Post Review</button>*@
        @*<input type="submit" name="submitme" value="Submit" id="submit1" />
            <p><a href="#" id="submit2">Submit</a></p>*@

        <button type="button" class="btn btn-lg launch-modal mt-4" id="launch-modal" value="Post Review">Post Review</button>
    </form>
</div>
@if (keyValuePairsVideo.Count > 0)
{
    videokeyValue = keyValuePairsVideo.Select(kvp => kvp.ToString()).Aggregate((a, b) => a + ", " + b);
}
@Html.Hidden("videokeyValue", videokeyValue)



