﻿@{var isLoggedIn = "false"; }
@if (Request.IsAuthenticated)
{
    Html.RenderAction("GetAccountMenus", "User");
    isLoggedIn = "true";
}
else
{
    <div class="d-none d-lg-block cut-text mt-3 mb-3">@WebStore_Resources.LabelSignInRegister </div><span class="profile-icon"></span>
    isLoggedIn = "false";
}
<script type="text/javascript">
    $(document).ready(function () {
        if (@isLoggedIn == false)
            User.prototype.LoginInPopup();
        ///*to show admin and other user notification start*/
        //if ($("#accountType").val() == "Admin") {
        //    ZnodeNotification.prototype.DisplayNotificationMessagesHelper($(".admin-user").html(), "success", false, fadeOutTime);
        //} else {
        //    ZnodeNotification.prototype.DisplayNotificationMessagesHelper($(".other-user").html(), "success", false, fadeOutTime);
        //}
        ///*to show admin and other user notification end*/
    });
</script>
