﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
}

<div class="form-group total mb-0">
    <div class="col-12 block-title" data-test-selector="divOrderSummaryTitle">Order Summary</div>
    <div class="col-12 block-content">
        <div class="row no-gutters">
            <div class="col-6">
                <p data-test-selector="paraSubTotal">@WebStore_Resources.LabelSubTotal</p>
            </div>
            <div class="col-6 p-0 text-right" data-test-selector="txtSubTotal">
                @Helper.FormatPriceWithCurrency(Model.SubTotal, CultureCode)
            </div>
        </div>
        @if (Model.ShippingCost > 0)
        {
            string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})";
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraShippingNameLabel">@WebStore_Resources.LabelShippingCost @shipName</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="ShippingCost">
                    <div data-test-selector="divShippingCost" id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, CultureCode)</div>
                </div>
            </div>
        }
        @if (Model.TaxCost > 0)
        {
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraTax">@WebStore_Resources.ColumnTax</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="divTaxCost">
                    @Helper.FormatPriceWithCurrency(Model.TaxCost, CultureCode)
                </div>
            </div>
        }
        @if (Model.Discount > 0)
        {
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraDiscount">@Custom_Resources.ColumnDiscounts</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="txtShippingDiscount">
                    <div id="dynamic-discount-amount" class="discount-amount">-@Helper.FormatPriceWithCurrency(0 - Model.Discount, CultureCode)</div>
                </div>
            </div>
        }
        <div class="row no-gutters mt-2">
            <div class="col-6">
                <p data-test-selector="paraTotalOrderAmount">Order Total</p>
            </div>
            <div class="col-6 p-0 text-right" data-test-selector="divTotalOrderAmount">
                @Helper.FormatPriceWithCurrency(Model.Total + Model.GiftCardAmount, CultureCode)
            </div>
        </div>
       
        @if (Model.GiftCardAmount > 0)
        {
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraVoucherAmount">@Custom_Resources.LinkTextAllowance</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="GiftCardApplied">
                    <div id="dynamic-giftcard-amount" class="left-sm-shift voucher-amount">-@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, CultureCode)</div>
                </div>
            </div>
        }
    </div>
    <div class="col-12 block-content border-top">
        <div class="row no-gutters">
            <div class="col-6">
                <h2 data-test-selector="hdgOrdertotal" class="m-0">
                    @if (Model.IsQuoteRequest)
                    {
                        @WebStore_Resources.LabelQuoteTotal
                    }
                    else
                    {
                        @Custom_Resources.ColumnOrderTotal
                    }
                </h2>
            </div>
            <div class="col-6 p-0 text-right" data-test-selector="txtTotalAmt">
                <div id="dynamic-order-total"><h2 data-test-selector="hdgOrderGrandTotal" class="m-0">@Helper.FormatPriceWithCurrency(Model.Total, CultureCode)</h2></div>
                @Html.Hidden("hdnTotalOrderAmount", Model.Total)
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="Total" value="@Model.Total" />
@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)
<script>
    var coupon = @Html.Raw(Json.Encode(Model.Coupons));
    if (coupon.length > 0) { Cart.prototype.ShowCouponsMessages(coupon) };

    var vouchers = @Html.Raw(Json.Encode(Model.Vouchers));      
    $(document).ready(function () {
        if (vouchers.length > 0) { Checkout.prototype.BindVoucherHtml(vouchers) };     
    })
</script>
