﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <a href="/User/Dashboard" class="user-icon" data-test-selector="linkUserIcon"><i class="f-size zf-login-user" data-test-selector="lblZfLoginUser"></i></a>


    @Html.ActionLink(User.Identity.GetUserName(), "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" })
    <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff">@WebStore_Resources.LabelLogoff</a>

}
else
{
    <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" class="user-icon" data-test-selector="linkUserIcon"><i class="f-size zf-login-user" data-test-selector="lblZfLoginUser"></i></a>
    <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink">@WebStore_Resources.LabelLoginStatus</a>
}
    <script type="text/javascript">
    $(document).ready(function () {
        
        /*to show admin and other user notification start*/
        if ($("#accountType").val() == "Admin") {
            ZnodeNotification.prototype.DisplayNotificationMessagesHelper($(".admin-user").html(), "success", false, fadeOutTime);
        } else {
            ZnodeNotification.prototype.DisplayNotificationMessagesHelper($(".other-user").html(), "success", false, fadeOutTime);
        }
        /*to show admin and other user notification end*/
    });
    </script>