﻿//  Used on Category List page, Product list page and PDP page.
.b2b-instore-pickup{background-color:$base-primary-light;color:$white;font-size:$base-font-size + 6;
    a{padding-left:25px;font-size:$base-font-size;color:$white;}
}
//  Used on Category List page, Product list page and PDP page.
.b2b-breadcrumbs {
    padding: 10px 0;
    color: $base-color-dark-gray;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    border: 1px solid $border-primary;
    font-size: 12px;

    a {
        color: $base-color-dark-gray;

        &.home-icon {
            font-size: $base-font-size;
        }

        &:hover {
            color: $base-primary-light;
        }
    }
}

 .b2b-brand-list, .b2b-checkout-page, .b2b-product-view-details, .b2b-quote-page {
    box-shadow:$dividing-shadow;-moz-box-shadow:$dividing-shadow;-webkit-box-shadow:$dividing-shadow;}
.b2b-products-list{border:1px solid $border-primary;}
//Used on Catelogy list page for displaying inventory details of each product.
.product-inventory{background-color: #FAFAFA;padding-left:10px;
         .error-msg{font-size:12px;}
}


@include screensize(x-small){
    #layout-category .advertisement-banner .owl-item{padding:35px 10px;}
}

@include screensize(xl-small){
}

@include screensize(small){
    #layout-category .advertisement-banner .owl-item{padding:10px;}
}
