﻿.home-slider {
    .owl-carousel {
        //  Change later (text-alignment from admin side).
        .carousel-caption {
            position: relative;
            padding: 20px;
            top: 0;
            flex: 1;
            transform: translate(0,0);
            max-width: 100%;
            background-color: $black !important;
            .ariat-banner-slider {
                    color: $white;
                }
            
            .first {
                font-size: 24px;
            }

            h3 {
                font-size: 35px;
            }

            div {
                font-size: 18px;
            }

            button {
                margin: 10px 0 5px 0;
                background-color: $black;
                color: $white;

                &:hover {
                    background-color: $white;
                    color: $black !important;
                }
            }
        }
    }

    .slider {
        .item {
            a {
                overflow: hidden;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                background-color: $base-primary-light;
                width: 100%;

                h3 {
                    color: $black;
                }
            }

            img {
                height: 185px;
                width: auto;
                position: relative;
            }
        }

        .owl-pagination {
            position: relative;
            padding-top: 10px;
        }

        .owl-buttons {
            .owl-prev, .owl-next {
                top: 40%;
            }
        }
    }
}

.advertisement-banner {
    padding: 0 5px;

    .owl-wrapper-outer {
        background-color: #F8F8F8;
        padding: 15px 10px;
       
    }

    .owl-item {
        padding: 5px 10px 35px;

        .item {
            align-items: flex-start;

            > a {
                display: flex;
                flex-wrap: wrap;


                img {
                    order: 1;
                    max-width: 82px;
                    max-height: 82px;
                    align-self: center;
                    padding: 10px;
                }
            }

            .carousel-caption {
                text-shadow: none;
                position: relative;
                order: 2;
                left: 0;
                top: 0;
                transform: translate(0,0);
                margin-right: 0;
                padding: 10px 0;
                width: 100%;


                .promo-title {
                    font-family: $base-font-family-bold;
                    font-size: $base-font-size + 5;
                    color: $base-tertiary;
                    letter-spacing: 1.25px;
                    text-transform: uppercase;
                }

                .promo-description {
                    font-family: $base-font-family;
                    font-size: $base-font-size + 2;
                    color: $base-tertiary;
                    letter-spacing: 0.88px;
                    line-height: 20px;
                    margin: 10px 0;
                }

                a {
                    border-color: $base-tertiary-light;
                    color: $base-tertiary;

                    &:hover {
                        border-bottom: 5px solid #d96600;
                        transition: width .5s ease;
                    }
                }
            }
        }
    }
}
.featured-products {
    padding-top: 40px;
    padding-bottom: 40px;

    .featured-products-block {
        padding: 0;
    }
}

.carousel-card {
    border-bottom: 1px solid #ddd;
    padding: 2rem 0;
}

.user-promotion-msg {
    font-size: 16px;
    color: $base-secondary-light;
    padding: 10px;
}

.loged-out-product-details {
    padding: 10px 0;

    .loged-out-product-title {
        font-family: $base-font-family-bold;
        font-size: $base-font-size + 1;
    }

    .loged-out-product-text {
        font-size: $base-font-size - 2;
    }

    a {
        text-decoration: underline;
    }
}

.product-list-title {
    text-align: center;
    font-size: $base-font-size + 6;
    text-transform: uppercase;
}

//  Used on home page and category list page
.view-option-category {
    padding: 0 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        padding: 10px;
    }

    .b2b-categories {
        padding: 10px;
    }

    a {
        width: 100%;
        display: block;

        &:hover {
            img {
                box-shadow: $box-shadow-hover;
            }

            label {
                cursor: pointer;
            }
        }
    }

    img {
        padding: 15px;
        box-shadow: $box-shadow;
        border-radius: $primary-radius;
        width: 100%;
    }

    label {
        width: 100%;
        padding-top: 15px;
        text-align: center;
        font-family: $base-font-family-bold;
        font-size: $base-font-size + 4;
        text-transform: uppercase;
    }
}
//  Used on home page and product list page
.b2b-products {
    padding: 10px;

    .product-item {
        box-shadow: $box-shadow;
        padding: 20px;
        border-radius: $primary-radius;
        position: relative;
        width: 100%;

        &:hover {
            box-shadow: $box-shadow-product;
            /*.title {
                color: $base-primary-light;
            }*/
        }

        .view-item {
            .image {
                margin-bottom: 15px;
                min-height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .title {
                font-size: $base-font-size + 3;
                text-transform: capitalize;
                max-height: 48px;
                overflow: hidden;
            }

            .recommend-product-title a {
                color: #424242;
            }

            .product-details {
                .price {
                    font-size: $base-font-size + 8;
                    font-family: $base-font-family-bold;
                    color:$base-primary;

                    span {
                        &:last-child {
                            color: $base-primary;
                            margin-left: 8px;
                        }
                    }
                }

                .product-rating {
                    font-size: $base-font-size - 1.5;
                }
            }
        }
    }
}

.read-reviews {
    text-decoration: underline;
    margin-left: 10px;
}

.quick-view-content {
    .product-overview {
        padding-top: 24px;
    }
}

.owl-buttons {
    display: none !important;
}
.hero-banner{
    img{
        width:100%;
        max-height:300px;
        object-fit:cover;
        object-position:left;
    }

    .gear-box{
        position:relative;

        .brand-gear{
            position:absolute;
            top: 20%;
            left: 10%;

            .promo-title{
                color:$white;
                margin-bottom:15px;
                font-size:30px;
            }

            p{
                color:$white;
            }

            button{
                background-color:$black;
                text-transform:uppercase;
                margin-top:15px;
                color: $white;
               

                &:hover {
                    background-color:$white;
                    color: $black !important;
                }
            }
        }
    }
}

@include screensize(xl-small) {
    .home-slider {
        .slider {
            .item {
                a {
                    overflow: visible;
                    display: block;
                }

                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .hero-banner .gear-box .brand-gear .promo-title {
        font-size: 27px;
    }
}
@include screensize(small) {
    .product-list-title {
        font-size: $base-font-size + 12;
    }

    .home-slider {
        .owl-carousel {
            .carousel-caption {
                position: absolute;
                background-color: transparent;
                padding: 0;
                top: 50%;
                transform: translate(0,-50%);

                .first {
                    font-size: 24px;
                }

                h3 {
                    font-size: 40px;
                }

                div {
                    font-size: 18px;
                }
            }
        }

        .slider {
            .owl-pagination {
                position: absolute;
                padding-top: 0;
            }

            .owl-buttons {
                .owl-prev, .owl-next {
                    top: 50%;
                }
            }
        }

        .owl-carousel .carousel-caption {
            background-color: transparent !important;

           
        }
    }

    .advertisement-banner {
        padding: 30px 0;

        .owl-item {
            padding: 10px 5px;

            .item {
                > a {
                    flex-wrap: nowrap;

                    img {
                        order: 1;
                    }

                    .carousel-caption {
                        order: 2;
                        margin-right: 10px;
                        margin-top: 0;
                        text-align: left;

                        .promo-description {
                            font-size: $base-font-size;
                        }

                        .btn {
                            display: block;
                            margin: 0;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    .b2b-products .product-item:hover .btn-quick-view {
        display: block;
    }

    .view-option-category li {
        width: 25%;
    }
}


@include screensize(medium) {
    .view-option-category li {
        width: 16.66%;
    }

    .advertisement-banner .owl-item .item > a .carousel-caption .btn {
        padding: 10px 15px;
    }
}
