﻿.button-wishlist {
    margin: 5px 5px 0 0;
}

.quick-view-content {
    .product-view-details .product-overview .product-info {
        .product-details-attributes {
            .inventory-block {
                padding: 0;
            }

            .inventory-details {
                background-color: #FAFAFA;
                padding: 5px 12px;
                margin: 0 10px;
            }
        }
    }
}
//  Medium view template
.b2b-product-view-details {
    box-shadow: none;
    padding: 40px 0;

    .carousel-card {
        border-bottom: 1px solid #ddd;
        padding: 2rem 0;
    }
}

.product-view-details .product-overview .product-info {
    .inventory-details {
        background-color: #FAFAFA;
        padding: 5px 15px;
        margin: 0 10px;

        .timelead-field {
            border-top: 1px solid #9E9E9E;
            color: #01579B !important;
        }

        .label-locations {
            color: $green;
        }

        .label-inventory {
            color: #000 !important;
            font-weight: bold;
        }

        .label-details {
            color: #01579B !important;
            font-weight: bold;
            cursor: pointer;
        }

        .default-name {
            color: #000;
        }

        span {
            color: $black !important;
        }

        .in-stock-section {
            span {
                color: $green;
            }
        }
    }
}

.inventory-popup {
    .modal-content .btn.close {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1;
        color: #01579B;
        background-color: $white;
        border: none;
        padding: 0px;
        font-size: 20px;
        border-radius: 50%;
        height: 18px;
        width: 18px;
    }

    .inventory-popup-content {
        .warehouse-view-details {
            h5 {
                text-transform: uppercase;
                font-size: 22px;
            }

            .default-location {
                background: #ececec;

                .details-address {
                    border-bottom: none;
                }
            }

            .Others-Location {
                border-bottom: 1px solid $border-light;

                &:last-child {
                    border-bottom: none;
                }
            }

            .inventory-product-name {
                color: #0f60a0;
                font-size: 15px;
            }

            .sub-location {
                font-size: 18px;
                color: $black;
            }

            .details-address {
                .total-stock {
                    font-size: 20px;
                    font-weight: bold;
                    color: $green;
                }
            }

            .address-warehouse {
                color: #0f60a0;
            }
        }
    }
}

.product-overview {
    .customization-div {
        span {
            font-size: $base-font-size +2;
        }

        .learnmore {
            text-decoration: underline;
            margin-left: 5px;
        }
    }

    .product-info .product-price h2 {
        font-size: $base-font-size + 6;

        span {
            &:last-child {
                color: $base-primary;
            }
        }
    }
}

.add-to-cart-block {
    display: flex;
    input {
        width: 70px;
        border-radius: 0;
        height: 50px;
        text-align: center;
    }

    button {
        min-width: 170px;
        text-transform: uppercase;
    }
}

.product-info .loged-out-product-details {
    .loged-out-product-title {
        font-size: $base-font-size + 4;
    }

    .loged-out-product-text {
        font-size: $base-font-size + 2;
    }
}

.product-list-widget .b2b-products .product-item .view-item .title {
    color: $base-color-dark-gray !important;
}

.obsolete-msg {
    font-size: 16px;

    a {
        color: #CC0000;
        text-decoration: underline;
    }
}

//  used in grouped and bundled products.
.b2b-select-quantity {
    text-transform: uppercase;
    font-family: $base-font-family-bold;
    padding: 5px 15px;
    border-bottom: 1px solid $border-light;
}

//  Grouped products
.b2b-group-products {
    margin: 20px 0;
    border: 1px solid $border-light;
    border-radius: 4px;
    box-shadow: $box-shadow;
    background-color: $group-products-background;

    .b2b-group-product-details {
        margin: 10px 0;

        .form-group {
            .group-product-list {
                border-bottom: 1px solid $border-light;
                align-items: center;
                padding: 15px 0;
                flex-wrap: wrap;

                img {
                    max-width: 70px;
                    height: auto;
                    margin-right: 15px;
                    order: 1;
                }

                .group-item-details {
                    width: 60%;
                    order: 3;
                    margin-top: 15px;
                }

                .group-item-price {
                    margin-left: auto;
                    text-align: center;
                    font-size: $base-font-size + 4;
                    order: 2;
                    width: 40%;
                    align-self: flex-end;

                    .original-price {
                        font-family: $base-font-family-bold;
                    }
                }

                .product-details-quantity {
                    margin-left: auto;
                    order: 4;
                    width: 40%;
                    align-self: flex-start;
                    text-align: center;

                    input {
                        width: 70px;
                        border-radius: $primary-radius;
                    }
                }

                h4 {
                    font-size: $base-font-size;
                    font-family: $base-font-family;
                }
            }

            &:last-child .group-product-list {
                border: 0;
            }
        }
    }

    .grouped-product-add-to-cart {
        border-top: 1px solid $border-light;
    }
}

.b2b-bundle-product {
    margin: 20px 0 30px;
    border: 1px solid $border-light;
    border-radius: 4px;
    box-shadow: $box-shadow;
    background-color: $group-products-background;

    .b2b-bundle-carousel .owl-carousel {
        .owl-item {
            padding: 25px 30px;

            .bundle-item {
                .bundle-item-img {
                    max-width: 85px;
                }

                .bundle-item-title {
                    font-size: $base-font-size - 1;
                    margin: 0;
                }
            }
        }

        .owl-controls .owl-buttons div span:before {
            padding: 11px;
        }
    }
}

.b2b-dynamic-addons {
    padding: 15px 0 0;

    .section-header {
        font-size: $base-font-size + 4;
    }

    .form-group label {
        font-family: $base-font-family-bold;
    }
}

.cut-price {
    color: $base-tertiary-light;
    text-decoration: line-through;
}

/*All reviews sections*/
#product-review-container {
    .review-title {
        font-size: 16px;
    }
}

.all-reviews {
    .review-title {
        font-size: 16px;
    }

    .b2b-filters > div {
        flex: none;
    }
}

.cut-price {
    color: $base-tertiary-light;
    text-decoration: line-through;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
}

.btn-wishlist {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 101;
    padding: 4px 0;
    border: 0;
    font-size: $base-font-size + 2;
    background-color: transparent;
    color: $base-tertiary-light;
    cursor: pointer;

    &.added-to-wishlist {
        color: $added-wishlist;

        .heart-icon:before {
            border-color: $added-wishlist;
            background-color: $white;
        }
    }

    .heart-icon:before {
        border: 2px solid $base-tertiary-light;
        padding: 5px;
        border-radius: 50%;
        background-color: $white;
    }
}

.b2b-email-to-friend {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 101;
    padding: 0;
    border: 0;
    font-size: $base-font-size + 14;
    background-color: transparent;
    color: $base-tertiary-light !important;
    cursor: pointer;
}

.color-swatch .scratch-image {
    text-indent: 0;

    &:before, &:after {
        display: none;
    }

    .swatch-icon:before {
        border: 2px solid transparent;
        font-size: $base-font-size + 14;
    }

    &.active .swatch-icon:before {
        border-color: $base-primary;
    }
}

.swatch-img .scratch-image {
    text-indent: 0;

    &:before, &:after {
        display: none;
    }

    .SwatchImage {
        border: 2px solid transparent;
        height: 75px;
        width: 75px;
    }

    &.active .SwatchImage {
        border-color: $base-primary;
    }
}

.product-short-description {
    font-size: $base-font-size + 2;
}

.b2b-price-list {
    .b2b-price-list-head {
        padding: 5px 0;
        font-family: $base-font-family-bold;
        color: $base-primary;
        text-transform: uppercase;
    }

    .b2b-price-list-body {
        width: 38%;
    }

    .b2b-price-list-save {
        width: 24%;
        font-family: $base-font-family-bold;
        color: $base-primary;
    }
}

.b2b-sku-brand {
    font-size: $base-font-size + 2;
    line-height: 16px;

    span {
        font-family: $base-font-family-bold;
    }

    a {
        text-decoration: underline;
    }

    .product-number {
        padding-right: 0;
        width: 100%;
    }

    .product-brand {
        padding-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .read-reviews {
        a {
            font-size: $base-font-size;
            color: $black;
            text-transform: uppercase;
            font-family: $base-font-family-bold;
            text-decoration: none !important;
            margin-left: 10px;
            margin-top: 2px;
        }
    }
}

.b2b-product-highlight {
    ul li {
        height: 75px;
        width: 75px;
        margin: 0 10px 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}
.size-variant {
    border-top: 1px solid #c5b7b7;
    padding-top: 10px;
}
@include screensize(x-small) {
    .add-to-cart-block {
        margin: 10px 0;
        flex-direction: column;

        button {
            min-width: 170px;
            margin-top: 10px;
            width: 100%;
        }
    }
}

@include screensize(small) {
    .b2b-group-products .b2b-group-product-details .form-group .group-product-list {
        padding: 15px;
        flex-wrap: nowrap;

        img {
            max-width: 85px;
            height: auto;
            margin-right: 15px;
        }

        .group-item-details {
            width: 40%;
            order: 2;
            margin-top: 0;
        }

        .group-item-price {
            order: 3;
            align-self: center;
            width: auto;
        }

        .product-details-quantity {
            align-self: center;
            width: auto;
        }
    }

    .b2b-sku-brand {
        .product-number {
            padding-right: 10px;
            width: auto;
        }

        .product-brand {
            padding-left: 10px;
            margin-top: 0;
            border-left: 2px solid $text-default;
            width: auto;
        }
    }

    .product-details-qty .details-box {
        border-left: 1px solid $border-color;
    }

    .add-to-cart-block {
        flex-direction: row;

        input{
            margin-right:10px;
        }

        button {
            margin-top: 0;
            margin-right: 10px;
            width:auto;
        }
    }
}
//Size Dropdown Attribute CSS

.dropbtn {
    background-color: $white;
    color: $black;
    font-size: 16px;
    border: 1px solid $black;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position:relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid $black;
    width:100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;

    &.active {
        color: white;
        background-color: black;
    }
}

.dropdown-content a:hover {
    background-color: $black;
    color: $white !important;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:after {
    content: $down-icon;
    font-family: "znode-web-store";
    font-size: 12px;
    padding: 5px 10px;
    float: right;
    padding-left: 80px;
}
//PDP Add Review Pop-Up CSS

.pdp-reviews {
    .bv-submit-title {
        font-size: 1.8em;
        font-weight: 600;
        margin: 5px 0;
    }

    .overall-rating {
        color: #a53e33;
        font-weight: 700;
        font-size: 15px;
    }

    .star-rating .star-full-icon {
        padding: 1px 25px;
        border: 1px solid #d0d0d0;
        font-size: 24px;
        background-color: #ededed;
        height: 38px;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0 !important;
        }

        &:before {
            color: $white;
        }

        &.full {
            background-color: #a53e33;

            &.red {
                background-color: #a53e33;
            }

            &.orange {
                background-color: #d60;
            }

            &.yellow {
                background-color: #f6a518;
            }

            &.green {
                background-color: #8ac100;
            }

            &.dark-green {
                background-color: #338b2b;
            }
        }
    }

    .pdp-reviews .star-rating .star-full-icon:before {
        .star-full-icon {
            background-color: #a53e33;
        }
    }

    .launch-modal {
        border-radius: 0;
        background-color: $black;
        color: $white;
        font-size: 12px;
    }

    .btn-popup {
        color: #666;
        background-color: #ededed;
        font-size: 12px;
        text-transform: uppercase;
        padding: .75em 1.5em .8125em;
        border: 0;
        cursor: pointer;
    }

    label {
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
    }

    input {
        background-color: #fff;
        font-family: inherit;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .75);
        display: block;
        font-size: .875em;
        margin: 0 0 1em;
        padding: .5em;
        height: 2.3125em;
        width: 100%;
        box-sizing: border-box;
        transition: box-shadow .45s, border-color .45s ease-in-out;
        clear: both;

    }

    textarea {
        background-color: #fff;
        font-family: inherit;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .75);
        display: block;
        font-size: .875em;
        margin: 0 0 1em;
        padding: .5em;
        width: 100%;
        box-sizing: border-box;
        transition: box-shadow .45s, border-color .45s ease-in-out;
        clear: both;
    }

    .btn-recommended {
        margin-left: 3rem;

        .btn-popup {
            padding: 10px 60px;
        }
    }

    .bv-photo-button {
        color: #666;
        background-color: #ededed;
        font-size: 12px;
        text-transform: uppercase;
        border: 0;
        width: 100px;
        line-height: 1;
    }
}

.add-photo-popup {
    .close {
        background-color: transparent;
        border: 0;
    }

    .photoImageUpload {
        .choose-file {
            display: block;
            border-radius: 2px;
            border: 1px solid;
        }

        input {
            border: 0;
            padding-top: 10px;
        }
    }

    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: #d96600;
        }
    }

    .captionTextBox {
        label {
            display: block;
        }
    }

    button {
        border-radius: 0;
        background-color: #000000;
        color: #FFFFFF;
        font-size: 12px;
        cursor: pointer;
    }
}

.add-video-popup {
    .close {
        background-color: transparent;
        border: 0;
    }

    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: $black;
        }
    }

    button {
        border-radius: 0;
        background-color: #000000;
        color: $white;
        font-size: 12px;
        padding: 15px 50px;
        cursor: pointer;
    }
}

.recommend-radio {
    .radio-group {
        display: flex;

        .radio {
            background: #efefef;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 150px;
            border: 1px solid #efefef;
            text-transform: uppercase;
            cursor: pointer;



            &:hover {
                background: #666;
                border: 1px solid #000;
                color: $white;
            }

            input {
                position: absolute;
                height: 100%;
                opacity: 0;
                cursor: pointer;

                &.active {
                    background: #666;
                    border: 1px solid #000;
                    color: $white;
                }
            }
        }
    }
}

.main-review-popup {
    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: #d96600;
        }
    }

    .bv-submit-title {
        font-size: 1.8em;
        font-weight: 600;
        margin: 5px 0;
    }
}

.add-photo {
    display: flex;
    margin-top: 10px;

    img {
        margin-left: 10px;
    }
}
//Progress bar and add review css changes
.product-rating {
    .star-rating {
        font-size: $base-font-size + 2 !important;
        line-height: 1.75vw !important;
    }

    .count, .total-reviews {
        font-family: $base-font-family-bold;
        font-size: $base-font-size + 2 !important;
        color: $black;
    }

    .btn-secondary {
        background-color: $base-tertiary;
        font-family: $base-font-family;
        color: $account-menu-background;
        letter-spacing: .125rem;
        font-size: .75rem;
        font-weight: normal;
        margin-top: 15px;
    }
}
//PDP Add Review Pop-Up CSS

.pdp-reviews {
    .bv-submit-title {
        font-size: 1.8em;
        font-weight: 600;
        margin: 5px 0;
    }

    .overall-rating {
        color: #a53e33;
        font-weight: 700;
        font-size: 15px;
    }

    .star-rating .star-full-icon {
        padding: 1px 25px;
        border: 1px solid #d0d0d0;
        font-size: 24px;
        background-color: #ededed;
        height: 38px;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0 !important;
        }

        &:before {
            color: $white;
        }

        &.full {
            background-color: #a53e33;

            &.red {
                background-color: #a53e33;
            }

            &.orange {
                background-color: #d60;
            }

            &.yellow {
                background-color: #f6a518;
            }

            &.green {
                background-color: #8ac100;
            }

            &.dark-green {
                background-color: #338b2b;
            }
        }
    }

    .pdp-reviews .star-rating .star-full-icon:before {
        .star-full-icon {
            background-color: #a53e33;
        }
    }

    .launch-modal {
        border-radius: 0;
        background-color: $black;
        color: $white;
        font-size: 12px;
    }

    .btn-popup {
        color: #666;
        background-color: #ededed;
        font-size: 12px;
        text-transform: uppercase;
        padding: .75em 1.5em .8125em;
        border: 0;
        cursor: pointer;
    }

    label {
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
    }

    input {
        background-color: #fff;
        font-family: inherit;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .75);
        display: block;
        font-size: .875em;
        margin: 0 0 1em;
        padding: .5em;
        height: 2.3125em;
        width: 100%;
        box-sizing: border-box;
        transition: box-shadow .45s, border-color .45s ease-in-out;
        clear: both;
    }

    textarea {
        background-color: #fff;
        font-family: inherit;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .75);
        display: block;
        font-size: .875em;
        margin: 0 0 1em;
        padding: .5em;
        width: 100%;
        box-sizing: border-box;
        transition: box-shadow .45s, border-color .45s ease-in-out;
        clear: both;
    }

    .btn-recommended {
        margin-left: 3rem;

        .btn-popup {
            padding: 10px 60px;
        }
    }

    .bv-photo-button {
        color: #666;
        background-color: #ededed;
        font-size: 12px;
        text-transform: uppercase;
        border: 0;
        width: 100px;
        line-height: 1;
    }
}

.add-photo-popup {
    .close {
        background-color: transparent;
        border: 0;
    }

    .photoImageUpload {
        .choose-file {
            display: block;
            border-radius: 2px;
            border: 1px solid;
        }

        input {
            border: 0;
            padding-top: 10px;
        }
    }

    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: #d96600;
        }
    }

    .captionTextBox {
        label {
            display: block;
        }
    }

    button {
        border-radius: 0;
        background-color: #000000;
        color: #FFFFFF;
        font-size: 12px;
        cursor: pointer;
    }
}

.add-video-popup {
    .close {
        background-color: transparent;
        border: 0;
    }

    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: $black;
        }
    }

    button {
        border-radius: 0;
        background-color: #000000;
        color: $white;
        font-size: 12px;
        padding: 15px 50px;
        cursor: pointer;
    }
}

.recommend-radio {
    .radio-group {
        display: flex;

        .radio {
            background: #efefef;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 150px;
            border: 1px solid #efefef;
            text-transform: uppercase;
            cursor: pointer;



            &:hover {
                background: #666;
                border: 1px solid #000;
                color: $white;
            }

            input {
                position: absolute;
                height: 100%;
                opacity: 0;
                cursor: pointer;

                &.active {
                    background: #666;
                    border: 1px solid #000;
                    color: $white;
                }
            }
        }
    }
}

.main-review-popup {
    .modal-header {
        border-bottom: 0;
        background-color: $white;

        .close {
            color: #d96600;
        }
    }

    .bv-submit-title {
        font-size: 1.8em;
        font-weight: 600;
        margin: 5px 0;
    }
}

.add-photo {
    display: flex;
    margin-top: 10px;

    img {
        margin-left: 10px;
    }
}
//Progress bar and add review css changes
.product-rating {
    .star-rating {
        font-size: $base-font-size + 2 !important;
    }

    .count, .total-reviews {
        font-family: $base-font-family-bold;
        font-size: $base-font-size + 2 !important;
        color: $black;
    }

    .btn-secondary {
        background-color: $base-tertiary;
        font-family: $base-font-family;
        color: $account-menu-background;
        letter-spacing: .125rem;
        font-size: .75rem;
        font-weight: normal;
        margin-top: 15px;
    }
}
//Review Block CSS
.review-block {
    .star-rating {
        font-size: $base-font-size + 5;
    }

    .review-block-name {
        margin-top: 10px;
        margin-bottom: 20px;

        a {
            font-size: $base-font-size + 4 !important;
            text-transform: uppercase;
            color: #222;
            letter-spacing: .125rem;
        }
    }
}

.product-details-qty {
    .details-box {
        padding-left: 15px;

        button{
            padding:0;
        }
    }

    .flex-column-center {
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .quantity-box {
        width: 80px;
        height: 35px;
        text-align: center;
    }

    .price-no {
        font-weight: bold;
        font-size: 16px;
        color: #000;
    }

    .hr-line-dotted hr {
        border-style: dashed;
        border-color: #c5b7b7;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .details-label {
        p {
            color: #ffa000;
            font-weight: bold;
            cursor: pointer;

            &:after {
                content: $up-icon;
                font-family: $znode-icon-font;
                font-size: $base-font-size - 2;
                padding: 5px 10px;
            }
        }

        &.collapsed p::after {
            content: $down-icon;
            font-family: $znode-icon-font;
        }
    }

    .bg-gray-heading {
        background-color: #eee;
        padding: 5px 5px;
    }

    .bg-gray-heading label{
        font-weight:bold;
        color: #000;
    }
}

.dev-artifi-close {
    .btn-primary {
        cursor: pointer;
        border: 0 !important;
        background-color: transparent;
        font-size: $base-font-size +6;

        &:hover {
            background: $white !important;
            color: $black !important;
        }
    }
}
//Size Chart CSS.
.size-chart-text {
    font-size: $base-font-size +4;
    font-family: $base-font-family-bold;
    a{
        color:$base-primary !important;
        margin-left:6px;
        cursor:pointer;
    }
}
.pdp-addon {
    #dynamic-inventory {
        font-size: $base-font-size +4;
        font-family: $base-font-family-bold;

        .backorder-text {
            color: $base-primary;
        }
    }
}
.product-price {
    h2 {
       
        .cut-price {
            color: #9E9E9E !important;
        }
    }
}
@include screensize(x-small) {
    .product-details-qty .details-box {
        padding-left: 0
    }
}

@include screensize(small) {
    .product-details-qty .details-box {
        padding-left: 15px;
        margin-top:15px;
    }
}