﻿.landing-form {
    h1 {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
    }

    img {
        width: 100%;
    }

    .content-text {
        background: #f8f8f8;
    }
}

.template-search-video .template-title .item video {
    display: block;
    margin: 0 auto;
    width:100%;
}

.landing-form-template {
    .Boxed {
        width: auto !important;
    }
}

.landing-promotion-page {

    .section-template {
        background: #f8f8f8;
    }

    .image-block-view .item img {
        width: 100% !important;
    }
}

.form-widget-builder {
    background: $input-background-facet;

    h1 {
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 24px;
        border-bottom: 2px solid $border-light;

        @media screen and (min-width:$base-screen-small) {
            margin: 0 15px;
        }
    }

    .form-builder {
        padding-top: 15px;

        .form-group:nth-child(1), .form-group:nth-child(2), .form-group:nth-child(4), .form-group:nth-child(5), .form-group:nth-child(6), .form-group:nth-child(7), .form-group:nth-child(8), .form-group:nth-child(9) {

            @media screen and (min-width:$base-screen-small) {
                flex: 50%
            }
        }

        .form-group, .quotebutton {
            padding: 0;

            @media screen and (min-width:$base-screen-small) {
                padding: 0 15px;
            }

            label {
                font-family: $base-font-family-bold;
            }
        }
    }
}

.form-template-page {
    h1.pt-5 {
        font-size: 28px;
        margin: auto;

        @media screen and (min-width:$base-screen-small) {
            width: 80%;
        }
    }

    .font-16 {
        margin: auto;

        @media screen and (min-width:$base-screen-small) {
            width: 90%;
        }
    }

    h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .form-builder{
        .row{margin:0;}
    }
}
//Size Chart CSS

.size-chart {
    body:not(.nohover) tbody tr:hover {
        background-color: #d96600;
    }

    .tab-content {
        h5 {
            margin: .25em 0 .75em;
            padding: 0;
            font-size: 1.8rem;
            letter-spacing: .125rem;
            font-weight: 700;
            line-height: 1;
        }

        h4 {
            font-size: 1.5rem;
            font-family: $base-font-family;
            margin-top: 10px;
        }
    }

    .nav {
        display: flex;

        li {
            border: 1px solid $border-default;
            border-right: 0 !important;
            background-color: $black;
            color: $white;
            width: 100%;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: $base-primary;
                border: 0;
            }

            &:last-child {
                border-right: 1px solid $border-default !important;
            }


            a {
                color: $white;
                display: block;
                padding: 10px 20px;
            }

            &.active {
                background-color: $base-primary;
            }
        }
    }



    .__table {
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;
        border: 2px solid #434343;
        margin: 0 0 2em;
        font-weight: 400;
        font-size: 13px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        text-transform: uppercase;
        color: #000;
        background-color: #dad8d6;

        td, th {
            position: relative;
            outline: 0;
            border: 1px solid #f3f2ed;
            padding: .75em 1em;
        }

        tbody td {
            background-color: #f3f2ed;
        }

        td:hover {
            background-color: #d96600;
        }

        td:hover::after {
            content: '';
            height: 10000px;
            left: 0;
            position: absolute;
            top: -5000px;
            width: 100%;
            z-index: -1;
        }

        td:hover::after, th:hover::after {
            background-color: #d96600;
        }

        thead tr, tbody tr {
            > th {
                text-align: center;
            }
        }

        tr {
            &:hover {
                td {
                    background-color: #dad8d6;

                    &:hover {
                        background-color: $base-primary;
                    }
                }

                > th {
                    background-color: $base-primary !important;
                }
            }
        }
    }

    body:not(.nohover) tbody tr:hover {
        background-color: #d96600;
    }
}




//404 page css
@include screensize(x-small) {
    #textdiv {
        text-align: center;

        h2, h3 {
            color: $black;
            padding: 5px;
        }
    }

    .size-chart .nav {
        flex-wrap: wrap;
    }
}
@include screensize(small) {
    #one {
        position: relative !important;
    }

    #two {
        text-align: center;
        position: relative;
    }

    #textdiv {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40px;
        text-align: center;

        h2, h3 {
            color: $white;
        }
    }

    .size-chart .nav {
        flex-wrap: nowrap;
    }
}

//

