﻿@using Znode.Engine.Api.Models;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json;
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    var _portal = PortalAgent.CurrentPortal;
    decimal updatedQuantity = 0;
    Decimal.TryParse(Request.QueryString["quantity"], out updatedQuantity);
    decimal quantity = updatedQuantity > 0 ? updatedQuantity : string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    int portalId = _portal.PortalId;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    bool _IsShowArtifiPopup = Convert.ToBoolean(Model.Attributes.Where(x => x.AttributeCode == "ArtifiIframeDisplayStyle").FirstOrDefault()?.AttributeValues);
    string artifiSKU = Model.Attributes?.Value("ArtifiSKU");
    string size = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "Size")?.SelectValues?.Select(y => y.Value)?.FirstOrDefault();

    var configurableAttributes = Model.Attributes.Where(x => x.IsConfigurable && x.AttributeCode!= "ColorSpecific").ToDictionary(t => t.AttributeCode, t => t.SelectValues.FirstOrDefault().Value);
    var JsonValue = JsonConvert.SerializeObject(configurableAttributes);
}

<div id="layout-product" class="col-12 main-wrapper product-meta medium-view-template edit-design-content">
    <!-- Breadcrumb -->
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="breadcrumb-container"></div>
            </div>
        </div>
    </div>

    <div id="main-content" class="container">
        <div class="row">
            <div id="Artifi-Designer-parent" class="col-md-9 col-sm-12 p-0">
                <div id="Artifi-Designer" class="edit-artifi-design">
                </div>
            </div>

            <div class="col-md-3 col-sm-12  product-details-qty d-flex flex-column  p-0">
                <div class="details-box">
                    <button data-test-selector="btnAddToCart" type="submit" id="artifi-design-call-update" onclick="Artifi.AddToCart();" class="btn btn-primary w-100" value="Update Cart"><i class="zf-cart"></i>Update Cart</button>
                    @if (!string.IsNullOrEmpty(size))
                    {
                        <div class="d-flex flex-column-center">
                            <label class="m-0">Size</label>
                            <label class="m-0" id="lblsize">@size</label>
                        </div>
                    }
                    <div class="d-flex flex-column-center">
                        <label class="m-0">Quantity</label>
                        <input data-test-selector="headerQuantity-edit" type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity-box" @(addToCartDisabled ? "disabled" : "") id="headerQuantity-edit">
                    </div>
                    <div class="d-flex flex-column-center">
                        <label class="m-0">Price</label>
                        <label class="m-0 price-no" id="lblHeaderPrice">$--</label>
                    </div>
                    <div class="hr-line-dotted"><hr /></div>
                    <div class="details-label" data-toggle="collapse" id="seeDetails"  style="display: none;" data-target="#seedetails"><p>See Details</p></div>
                    <div id="decorationPriceDetails" class="mb-2"></div>
                </div>
            </div>
            <label class="d-lg-none d-xl-none"></label>
        </div>
        <input type="hidden" id="artifisku" value="@artifiSKU" />
        <input type="hidden" id="dynamic-sku" value="@sku" />
        <input type="hidden" id="configurableAttributes" value="@JsonValue" />
    </div>




    <div id="successMessageDiv" style="display:none">
    </div>
</div>

<script src="~/Scripts/Extensions/ArtifiApi.js"></script>