﻿// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');src: url('../../Fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Regular.svg') format('svg');src: url('../../Fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../Fonts/Roboto-Medium.ttf') format('truetype');src: url('../../Fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Medium.svg') format('svg');src: url('../../Fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../../Fonts/ProximaNova-Regular.otf') format('opentype');
    src: url('../../Fonts/ProximaNova-Regular.ttf') format('truetype');
    src: url('../../Fonts/ProximaNova-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/ProximaNova-Regular.svg') format('svg');
    src: url('../../Fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../../Fonts/ProximaNova-Bold.otf') format('opentype');
    src: url('../../Fonts/ProximaNova-Bold.ttf') format('truetype');
    src: url('../../Fonts/ProximaNova-Bold.eot') format('embedded-opentype');
    src: url('../../Fonts/ProximaNova-Bold.svg') format('svg');
    src: url('../../Fonts/ProximaNova-Bold.woff') format('woff');
}