﻿@using Znode.Engine.WebStore.ViewModels
@model AccountViewModel
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
    var displayMode = string.Equals(Model.RoleName, "Administrator", StringComparison.InvariantCultureIgnoreCase) ? null : new { disabled = "disabled" };
    var displayModeForState = string.Equals(Model.RoleName, "Administrator", StringComparison.InvariantCultureIgnoreCase) ? (object)new { @id = "txtStateCode", @class = "txtStateCode" } : (object)new { @id = "txtStateCode", @class = "txtStateCode", @disabled = "disabled" };
}

<div id="layout-account-editaddress" class="main-wrapper col">
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">My Account</a> / Account Information</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.LinkTextAccountInformation</h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-11 col-md-9 dashboard-content right-container">
                            <form method="POST" action="/User/AccountInformation" class="form">
                                @Html.AntiForgeryToken()
                                <div class="col-12 p-0 edit-address-form">
                                    <div class="col-12 dashboard-content p-0 mb-4">
                                        <h3 class="b2b-section-header">@WebStore_Resources.ColumnContactInformation</h3>
                                        <div class="col-12 b2b-form p-4">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.AccountId)
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0">
                                                        @Html.TextBoxFor(model => model.AccountId, new { @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.PhoneNumber)
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0">
                                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.ExternalId)
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0">
                                                        @Html.TextBoxFor(model => model.ExternalId, new { @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.Name)
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0">
                                                        @Html.TextBoxFor(model => model.Name, new { @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 dashboard-content p-0">
                                        <h3 class="b2b-section-header">@Admin_Resources.LabelAddress</h3>
                                        <div class="col-12 b2b-form p-4">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.Address.DisplayName)
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0">
                                                        <div class="control-md">
                                                            @if (Equals(displayMode, null))
                                                            {
                                                                @Html.TextBoxFor(m => m.Address.DisplayName, displayMode)
                                                                @Html.ValidationMessageFor(model => model.Address.DisplayName)
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(m => m.Address.DisplayName, displayMode)
                                                                @Html.ValidationMessageFor(model => model.Address.DisplayName)
                                                            }
                                                        </div>
                                                        <p class="sub">@WebStore_Resources.HintTextDisplayName</p>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.Address1, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.Address1, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.Address1)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.Address2)
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.Address2, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.Address2)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.CityName, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.CityName, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.CityName)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.StateName, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.StateName, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.StateName)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hidden-field">
                                                    @Html.HiddenFor(m => m.Address.AddressId)
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.PostalCode, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.PostalCode, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.PostalCode)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(model => model.Address.CountryName, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @if (Model.RoleName == "Administrator")
                                                            {
                                                                @Html.DropDownListFor(model => model.Address.CountryName, Model.CountryList)
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.Address.CountryName, displayMode)
                                                            }
                                                            @Html.ValidationMessageFor(m => m.Address.CountryName)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 form-group billingPhoneNo">
                                                    <div class="col-12 p-0">
                                                        <div class="control-label form-title">
                                                            @Html.LabelFor(m => m.Address.PhoneNumber, new { @class = "required" })
                                                        </div>
                                                        <div class="control-md">
                                                            @Html.TextBoxFor(model => model.Address.PhoneNumber, displayMode)
                                                            @Html.ValidationMessageFor(model => model.Address.PhoneNumber)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3 p-0 text-right quotebutton d-flex flex-wrap checkout-buttons">
                                                <a href="Dashboard" class="d-flex d-md-inline-flex btn btn-secondary">@WebStore_Resources.ButtonCancel</a>
                                                @if (Model.RoleName == "Administrator")
                                                {
                                                    <button type="submit" class="btn btn-primary ml-md-3 mt-3 mt-md-0">@WebStore_Resources.ButtonSaveChanges</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.AccountId)
                                @Html.HiddenFor(m => m.Name)
                                @Html.HiddenFor(m => m.Address.AddressId)
                                @Html.HiddenFor(m => m.Address.FirstName)
                                @Html.HiddenFor(m => m.Address.LastName)
                                @Html.HiddenFor(m => m.Address.AccountAddressId)
                                @Html.HiddenFor(m => m.Address.IsDefaultBilling)
                                @Html.HiddenFor(m => m.Address.IsDefaultShipping)
                                @Html.HiddenFor(m => m.Address.Mobilenumber)
                                @Html.HiddenFor(m => m.Address.AlternateMobileNumber)
                                @Html.HiddenFor(m => m.Address.FaxNumber)
                                @Html.HiddenFor(m => m.RoleName)
                                @Html.HiddenFor(m => m.Address.StateName, new { @id = "hdn_StateCode" })
                            </form>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3 account-left-container">
                            <div class="col-12 promospot">
                                <p class="key-PromoSpot">@Html.RenderMessage(WebStoreConstants.PromotionalSpot)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.DisableFields();
        User.prototype.BindStates();
    })
</script>
