﻿@using Znode.Engine.WebStore.ViewModels
@model VoucherHistoryListViewModel
@using Znode.Engine.WebStore.Agents;

@if (!Equals(Model, null))
{
    <div id=@Model.GridModel.FrontObjectName class="main-wrapper col">
        <div class="row">
            <div class="container-fluid profile-dashboard">
                <div class="row">
                    <div class="container">
                        @Html.Partial("_AccountMenuDashboard")
                    </div>
                </div>
            </div>
        </div>
        <div class="row b2b-breadcrumbs d-none d-md-block">
            <div class="container">
                <div class="row">
                    <!-- Breadcrumb -->
                    <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a><a href="/User/Vouchers"> / @Custom_Resources.LinkTextAllowance</a> / @Custom_Resources.TitleAllowanceDetail</div>
                </div>
            </div>
        </div>
        <div id="layout-account-orderhistory" class="row">
            <div class="container">
                <div class="row user-account">
                    <div class="col-12 account-dashboard">
                        <div class="row mb-5">
                            <div class="col-12 col-lg-9 order-history right-container">
                                <div class="row no-gutters">
                                    <div class="col-12 p-0 voucher-detail pb-4">
                                        <div class="col-12 d-flex filter-component border-bottom pt-4 px-0 justify-content-between align-items-center">
                                            <h5>@Custom_Resources.TitleAllowanceDetail - @Model.voucherViewModel.CardNumber</h5>
                                            <h5 class="total-label">@WebStore_Resources.TitleTotalRemaining: @Helper.FormatPriceWithCurrency((Model.voucherViewModel.VoucherBalanceAmount), PortalAgent.CurrentPortal?.CultureCode)</h5>
                                        </div>
                                        <div class="pt-2"><label class="font-weight-bold pr-3">@Custom_Resources.LabelAllowanceName:</label>&nbsp;@Model.voucherViewModel.Name</div>
                                        <div class=""><label class="font-weight-bold pr-3">@Custom_Resources.LabelAllowanceNumber:</label>&nbsp;@Model.voucherViewModel.CardNumber</div>
                                        <div class=""><label class="font-weight-bold pr-3">@WebStore_Resources.LabelStartDate:</label>&nbsp;@Model.voucherViewModel.StartDate.ToDateTimeFormat()</div>
                                        <div class=""><label class="font-weight-bold pr-3">@WebStore_Resources.LabelExpirationDate:</label>&nbsp;@Model.voucherViewModel.ExpirationDate.ToDateTimeFormat()</div>
                                        <div class=""><label class="font-weight-bold pr-3">@Custom_Resources.LabelAllowanceAmount:</label>&nbsp;@Helper.FormatPriceWithCurrency(Model.voucherViewModel.VoucherAmount, PortalAgent.CurrentPortal?.CultureCode)</div>
                                    </div>
                                    <div class="col-12 p-0 mb-4 dashboard-content">
                                        <div class="col-12 product-search p-0">
                                            <div class="col-12 filter-component border-bottom d-flex justify-content-between align-items-center">

                                                @using (Ajax.BeginForm("VoucherHistory", "User", new { voucherId = Model?.voucherViewModel?.VoucherId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                                {
                                                    <div id="filterComponent">
                                                        @Html.Partial("_FilterComponent", Model?.GridModel?.FilterColumn)
                                                    </div>
                                                }
                                            </div>

                                            <div class="col-12 list-container p-0">
                                                <div class="col-12 p-0">
                                                    @Html.Partial("_DynamicGrid", Model?.GridModel)
                                                </div>
                                            </div>
                                            @Html.HiddenFor(m => m.voucherViewModel.UserId, new { id = "hdnLoginUserId" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                                <div class="col-12">
                                    <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        $(document).ready(function () {
            Checkout.prototype.HideVoucherHistoryGridColumn();
        })
    </script>