﻿@using Znode.Libraries.ECommerce.Utilities;


@{
    bool hasPortalId = Model.GetType().GetProperty("PortalId") != null;
    int portalId = hasPortalId ? Model.PortalId : Model.EntityId;

}

<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">
        <ul class="aside-panel">
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelGeneral, "EditStore", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitlePortalUrl, "UrlList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelProfile, "PortalProfileList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelPriceLists, "GetPriceManagement", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.BrandHeading, "BrandList", "Store", new { @PortalId = portalId }, new { @data_test_selector = "linkBrandLists" })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitleInventoryList, "GetAssociatedWarehouseList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelShippingOrigin, "EditStoreShipping", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelShippingMethods, "GetAssociatedShippingList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitlePaymentMethods, "GetAssociatedPaymentList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TextTaxDetails, "EditStoreTax", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitleTaxesList, "TaxList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitleCountry, "GetAssociatedCountryList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelLocales, "LocaleList", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelSearchFilterSettings, "GetSearchSetting", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.TitleSMTP, "EditStoreSMTP", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelUnits, "CreateEditStoreUnit", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelAnalytics, "GetAnalytics", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.LabelRobotsTxt, "GetRobotsTxt", "Store", new { @PortalId = portalId })</li>
            <li>@Html.GlobalAttributeActionLink(Admin_Resources.LabelAdditionalAttributes, portalId, Convert.ToString(EntityTypeEnum.Store), new { @data_test_selector = "linkAdditionalAttributes" })</li>
            <li>@Html.AuthorizedRawActionLink(Admin_Resources.ApprovalManagement, "GetPortalApproverDetailsById", "Store", new { @PortalId = portalId })</li>
            <li>@Html.AuthorizedRawActionLink(Artifi_Resource.LabelArtifiConfiguration, "GetProductCustomizationSetting", "ArtifiPortal", new { @PortalId = portalId })</li>
        </ul>
    </div>
</aside>
