﻿@model Znode.Engine.Admin.ViewModel.PortalCustomizationSettingViewModel
@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.Admin.Extensions
@using Znode.Engine.Admin.Helpers

@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = "CreateEditCustomizationSetting", Controller = "ArtifiPortal", CancelUrl = "/Store/List", FormId = "formPortalCustomizationConfiguration", IsSaveCloseEnable = true };
}

<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@Model.PortalName</span></h1>
    <div class="pull-right">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
        </div>
    </div>
</div>
<!--Main Container-->
<div id="TextWidgetConfigurationDiv" class="main-wrapper">
    <!--Left Panel-->
    @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
    <!--Main Container-->
    <section class="main-container">
        @using (Html.BeginForm("CreateEditCustomizationSetting", "ArtifiPortal", FormMethod.Post, new { id = "formPortalCustomizationConfiguration" }))
            {
            <div id="createForm">
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">
                            <label class="required">@Artifi_Resource.LabelWebApiClientKey</label>
                        </div>
                        <div class="control-md">
                            @Html.TextBoxFor(model => model.WebApiClientKey)
                            @Html.ValidationMessageFor(model => model.WebApiClientKey, "", new { id = "errorSpanBannerTitle" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">
                            <label class="required">@Artifi_Resource.LabelWebSiteCode</label>
                        </div>
                        <div class="control-md">
                            @Html.TextBoxFor(model => model.WebsiteCode)
                            @Html.ValidationMessageFor(model => model.WebsiteCode)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">
                            <label class="required">@Artifi_Resource.LabelDomainName</label>
                        </div>
                        <div class="control-md">
                            @Html.TextBoxFor(model => model.DomainName)
                            @Html.ValidationMessageFor(model => model.DomainName)
                        </div>
                    </div>
                </div>
            </div>
                @Html.HiddenFor(model => model.PortalId)
                @Html.HiddenFor(model => model.AIPortalSettingId)
        }
    </section>
</div>
